[2015-05-26 20:43] sberryman opened #2 "Production usage"
Are you using this in any of your projects right now? I'm just getting started on Seneca and we use RabbitMQ heavily in production right now. I would love to use this vs standing up and maintaining Kafka and wondering if you have an suggestions or recommendations on setup.

[2015-05-26 23:33] disintegrator commented on #2
Hi @sberryman,
I intended to use this lib in production but didn't get a chance to at the time and now most of my work is in Go (I continue maintain this lib). The only way I can address your concerns is to invite you to look at the source code of this library as it's quite small and see if you agree with the implementation. It's just a wrapper around amqlib. I'd say having tests might boost confi

[2015-05-28 00:10] sberryman commented on #2
Sorry, forgot to respond back yesterday. Thanks for the response and I have certainly looked at your source. I preferred your implementation over seneca-rabbitmq-transport.

[2015-05-28 00:10] #2 closed

[2015-06-17 08:10] richardzyx opened #3 "Login Credential"
Hi there,

Thanks for the great work! After I updated the RabbitMQ version on our server, it seems that a login credential is required for all connections. I couldn't find a place to add user and password into options, and I am wondering if you have the time to do this small fix? If not, I can still just use the url to send the login credential for creating the connection, but I am afraid that wou

[2015-06-18 10:37] richardzyx commented on #3
Also, it seems that as I add more producers and consumers, they all share the same queue with name "seneca_any_act". I realize it is a problem with the topic and pin functions, but can you tell me a way to create unique queues based on the matching pattern of the current service?

[2016-01-13 18:14] nfantone opened #4 "Document proper usage and API"
Snippets found [on README.md](https://github.com/disintegrator/seneca-amqp-transport#usage) show examples of usage for a particular setup and doesn't showcase configuration options. Also, they don't work out of the box.

Another problem with the examples is that they somewhat contradict the following from the [Getting Started guide on senecajs.org](http://senecajs.org/get-started/):

This doesn't

[2016-01-20 12:25] nfantone commented on #4
Documentation updated on #5.

[2016-01-20 12:25] #4 closed

[2016-01-20 12:37] nfantone commented on #3
@richardzyx I know you have moved away from this and created [node-microservice](https://www.npmjs.com/package/node-microservice), but better later than never:

+ Username and password can be specified in the `amqp://` connection URI, as you mentioned. Next updates, will let you configure them in the options object.
+  Single queue issue has been adressed in latest `master`.

Thanks for your feedb

[2016-01-20 12:38] #3 closed

[2016-01-21 13:11] nfantone opened #6 "Becoming the official plugin"
@disintegrator Some good news: we have been discussing with @geek and @mcdonnelldean (part of the Seneca core team) about [making this plugin the official AMQP transport](https://github.com/senecajs/seneca-rabbitmq-transport) in detriment of [seneca-rabbitmq-transport](https://github.com/senecajs/seneca-rabbitmq-transport).

Are you willing to participate in this? We need to make a new release wit

[2016-01-23 22:53] disintegrator commented on #6
Sounds good to me. Do you (or them) think there's anything more to do before we can take over? Are we missing some key features?

[2016-01-23 23:19] nfantone commented on #6
@disintegrator I've [asked them the same thing](https://github.com/senecajs/seneca-rabbitmq-transport/issues/20#issuecomment-173408332) but didn't receive any feedback yet.

[2016-01-24 00:35] disintegrator commented on #6
Brilliant I'll keep an eye on the thread. Meanwhile I'll jump in and help improve the library. We sorely need more docs and tests for the library to be taken seriously.

[2016-01-24 01:04] nfantone commented on #6
Tests would be swell. It'd also be great if no RabbitMQ instance were needed for unit testing. I've seen some [setup over at seneca-rabbitmq-transport](https://github.com/senecajs/seneca-rabbitmq-transport/blob/master/setup.sh) that fires a `rabbitmq` docker before starting. I think that kind of functional/black box testing should be written separately. What are your thoughts?

Docs have improved

[2016-01-25 17:52] nfantone opened #7 "pin vs. pins"
@disintegrator @geek Is there any difference between defining multiple clients declaring a `pin` and just a single client with a `pins` array? Concretely, I am comparing the following scenarios:

### Multiple clients

[code]

### Single client with an array of pins

[code]

I'm asking this, because, currently, the plugin doesn't show the same behavior in those scenarios. First one will create two

[2016-01-28 07:16] andriy-zhelvachenko opened #8 "Does it have TLS/SSL support?"

[2016-01-28 19:31] nfantone commented on #8
@andriy-zhelvachenko I does now :metal:

See the [updated documentation](https://github.com/disintegrator/seneca-amqp-transport/blob/develop/README.md#socket-options) for usage.

Please, feel free to close the issue if you have no further questions or comments.

[2016-01-29 06:31] andriy-zhelvachenko commented on #8
Tnx.

I did check the docs but had not seen socketsOptions sections

[2016-01-29 06:31] #8 closed

[2016-01-29 08:01] andriy-zhelvachenko opened #9 "How to make every seneca service (using amqp transport) to have separate queue?"
I have noticed that whatever i specify in options only 1 queue is created "seneca_any_act".
At the same time different exchanges are created (routed the queue)

I want to launch multiple seneca services each in separate process. And make them communicate via amqp. That probably assumes that each process should have separate queue.

Is there any way to specify it?

[2016-01-29 12:40] nfantone commented on #8
@andriy-zhelvachenko You are welcome. As it currently stands, it's a bit hard to find, since it's in `develop`.

@disintegrator We need to consider publishing a new release.

[2016-01-29 12:48] nfantone commented on #9
@andriy-zhelvachenko You need to _pin_ your listeners to a certain pattern (or array of patterns). The transport relies on those for creating different queues. Have a look at the examples and [try to run them](https://github.com/disintegrator/seneca-amqp-transport/tree/develop#run-the-examples).

Basically, you need to

[code]

If you don't provide a pin, it is assumed that you want to hear (liste

[2016-01-29 12:50] nfantone commented on #9
I'm intrigued about that. You say multiple _exchanges_ are created? There should be only one called `seneca.topic`, bound to every queue, with different routing keys.

[2016-01-29 13:51] mcdonnelldean commented on #7
So, @geek can correct me here. But my understanding is they're working as expected. The first is saying I specifically want two clients (use case, multiple port numbers) the second is say I want both of these messages to go to the one client (use case, granular definition of multiple pins to one client).

Bear in mind too order is important. so client one has preference to client two if both decla

[2016-01-29 13:53] nfantone commented on #7
@mcdonnelldean Great. You are confirming my suspicions, then. Thanks.

[2016-01-29 17:55] cicavey opened #11 "Mismatched queue names are used when pin values have more than one key-value pair"
The example only uses a single pin, "role:create", which works fine. If you add more detail to the pin such as "role:create,type:random" communication will be impossible. The cause is that the queue names generated to match each pin are not generated correctly by the client resulting in the inability of rabbit to route messages.

I have attempted to fix this (pull request incoming) by extracting t

[2016-01-29 19:34] nfantone commented on #11
@cicavey You are completely right. I'll dive into this.

[2016-01-30 16:35] andriy-zhelvachenko commented on #9
Well, i can specify param to the plugin where i can specify exchange. At the same it could not find params to specify queue name.

Tnx for answer

[2016-01-31 23:52] nfantone commented on #9
@andriy-zhelvachenko It doesn't make much sense to specify a queue name at the transport options level, since each listener will declare its own uniquely named queue. Clients, on the other hand, declare exclusive _response_ queues, whose names are randomly generated.

If you have no further questions, you may close issue anytime.

[2016-02-01 13:22] #7 closed

[2016-02-02 00:19] tuncaulubilge opened #14 "Question about mq type transports"
Hi,

I'm quite new to Seneca. So far, I'm loving it but got confused on message queue type transports.

Assume I got two services, an api service and a recommendation engine service, communicating via AMQ transport. In a traditional scenario, when a user makes a request to api service, api service sends the action to recommendation engine, recommendation engine finds the product and sends it back

[2016-02-02 03:06] nfantone commented on #14
@tuncaulubilge Yes, it's quite possible. Currently, the plugin works in an RPC fashion: there's an async response for every request and a client will keep listening for it until either it arrives or timeouts.

So, in your particular scenario, the API would `.act` and request recommendations for some user. Your recommendations microservice, should `.add` a listener and consume messages from the API

[2016-02-02 14:53] nfantone commented on #11
This has been fixed by #15. Already on `develop`. Will land on `0.2.0`.

[2016-02-02 14:53] #11 closed

[2016-02-16 13:33] nfantone commented on #14
Closed due to inactivity.

[2016-02-16 13:33] #14 closed

[2016-02-16 13:33] nfantone commented on #9
Closing due to inactivity.

[2016-02-16 13:33] #9 closed

[2016-02-16 13:34] nfantone commented on #6
@disintegrator When you have a moment, could you please release 0.2.0 to npm? Thank you.

[2016-02-16 23:23] disintegrator commented on #6
@nfantone done!

[2016-02-17 19:39] nfantone commented on #6
@disintegrator Thanks!

[2016-02-17 22:19] disintegrator commented on #6
Oh damn. Sorry I did it a rush so I didn't block you. Will follow guidelines next time

[2016-02-28 09:46] n321203 commented on #6
Just wanted to say im really happy there is an actively developed amqp-plugin. 👍

[2016-02-28 14:35] nfantone commented on #6
@n321203 Hey, thanks, man! I hope you find the plugin useful. And, of course, feel free to contribute back. Any help is appreciated.

[2016-03-10 12:26] benbenbenbenbenben opened #16 "calling seneca.close throws an error"
I have an integration script that used to use the default transport. Now I have migrated to seneca-amqp-transport, there is an error client side when I try to close the connection and exit the script. The channel is already closing.

`IllegalOperationError: Connection closing`

I won't post the whole thing, but the line(s) causing the problem starts on line 82 in client-hook.js

[2016-03-10 13:31] cjnqt opened #17 "Fire & forget mode – publish message without waiting for response"
The plugin follows the [RPC-pattern](https://www.rabbitmq.com/tutorials/tutorial-six-javascript.html), which is great.

But for some long-running tasks, I would rather just publish a new message ( `seneca.act...` ) and not wait around for the reply.

Is this possible? Can I close the calling process or do I have to disable the response queue or something?

[2016-03-10 14:05] nfantone commented on #17
@cjnqt No, not currently, since that is not a feature in Seneca itself (AFAIK). But it would be nice to have it and it certainly could be done without much hassle.

Adding this as a feature request.

[2016-03-10 14:15] nfantone commented on #17
Easiest current alternative would be to call the callback immediately on the `.add` side and then proceed with the long running task.

[2016-03-10 14:32] nfantone commented on #16
@benbenbenbenbenben Strange. Never seen this before. Could you post a simple snippet where the issue is reproduced, please?

Thanks for taking the time to let us know.

[2016-03-10 14:39] cjnqt commented on #17
Thanks, I'll call the callback early on the `.add` side as you suggested!

[2016-03-10 16:42] nfantone commented on #17
Let me know how that goes for you.

[2016-03-10 16:56] nfantone commented on #17
@cjnqt I've found this:

https://github.com/senecajs/seneca-fire-and-forget

I haven't tried it, but it seems to be what you are after.

[2016-03-11 02:53] nfantone commented on #16
@benbenbenbenbenben Been digging around and found out that the issue has to do with the `.close` method on channel and connection objects on [amqplib](http://www.squaremobius.net/amqp.node/channel_api.html#channel_close) not being idempotent. Also, there is currently no way of determining their state (closed or closing). [There is a proposal for such an API](https://github.com/squaremo/amqp.node/i

[2016-03-15 21:21] JoyPeterson opened #18 "How to handle connection loss?"
What is the best way to recover from a connection loss to the RabbitMq server from a client or from a listener?  Currently if I lose the connection, then seneca calls root.die which terminates my application.  I need to be able to try to re-establish the connection instead of exiting the application.

Thanks

[2016-03-16 00:49] nfantone commented on #18
This is a good question. Actually, Seneca behaves like that by design. If your microservice breaks in some way, it shouldn't be kept alive. Instead, requests to that service should be redirected to or be responded by other instances while you revive the dead application (something like pm2 or forever would do that for you). That's one way to be tolerant to failure.

If you lose connectivity to the

[2016-03-16 02:44] #16 closed

[2016-03-16 16:12] JoyPeterson commented on #18
Thank you for the feedback.  The service that I am using this for does answer http requests in addition to using seneca-amqp-transport to coordinate with other services.  It would be very useful to be able to keep that http endpoint available.  It sounds like I might have to implement retry login in all the services that call that http endpoint though unless you have some ideas on how to intercept

[2016-03-16 17:07] nfantone commented on #18
I'm adding the _request_ label and I'll review it. It may be worthwhile implementing this. In the meantime, I'd strongly suggest that you:

1) Do not rely on a broken microservice. Just let it die and restart it.
2) Consider splitting your HTTP endpoints to a separate, independent service/application.
3) Have redundant microservices in a virtual cluster (again, pm2 or forever can help here) or a d

[2016-03-18 09:57] cjnqt commented on #17
Thinking about it, I think this is an important topic.

The benefit of message queues – the thing that makes them more than just another transport protocol – is that they allow us send a message without requiring someone on the other side to be available in this very second.
Someone can pick it up 1-2 seconds later, that is fine, the message is stored in the queue. This allows true decoupling of t

[2016-03-18 13:37] nfantone commented on #17
@cjnqt You make some good points. And while I agree with your general perspective, I feel like commenting over it.

That is _one_ of the (main) benefits. But certainly not the only one, and not the only way to benefit from AMQP.

The thing is you are not actually required to use a queuing protocol. You shouldn't even be aware of that. You have chosen to use Seneca. This things shouldn't even be a

[2016-03-18 14:04] cjnqt commented on #17
Thanks for the comments!

Hmm, you are right. Seneca is a (beautiful) tool for working in a RPC fashion, if need something else I should probably use another tool (a regular message queue)...

Have to ponder this a bit more. As you pointed out, spawning more listener processes is a way to go forward.

[2016-03-18 14:05] #17 closed

[2016-03-18 15:07] benbenbenbenbenben commented on #16
Thanks @nfantone - I haven't been around on github lately so I missed your question about a snippet.

It was occurring in a initialisation script. If I didn't have `seneca.close` at the end, the script would not exit. Perhaps an explicit `process.exit` makes better sense in hindsight. Nevertheless; to reproduce:

[code]

[2016-03-18 16:11] nfantone commented on #16
@benbenbenbenbenben I tried your script (with ` url:'amqp://dev.rabbitmq.com'` on the options) and I failed to reproduce the error. Aside from that, I see that the `seneca.close()` won't be called if something error'd before - consider moving that to a `finally` block or a `process.once` to listen for shutdown signals.

I have something like this in many of my projects:

[code]

[2016-03-24 21:05] deedubs commented on #18
I'd like to vote in favour of the current functionality.  IMHO it's always safer to fail fast and recover from a fresh instance than to reconcile once you've re-established connectivity.

[2016-03-28 15:19] nfantone commented on #18
Agree with @deedubs.

Still, I'll be seeing what I can do about this.

[2016-04-20 12:54] OriginalEXE opened #20 "Typo in the npm module uri parsing code"
Hello,

I noticed that the development branch fixes the issue with the url parsing (`join('://')` instead of `join('//')`), was wondering if you plan on merging it to master soon?

Thank you for the plugin!

[2016-04-20 14:00] nfantone commented on #20
Hi, @OriginalEXE! I'm thinking of publishing the URI parser as a separate npm module. Will get into that right now.

Thanks for the feedback.

[2016-04-21 10:00] OriginalEXE opened #21 "Question about scaling/loadbalancing"
Hello,

I was wondering what is the best way to scale the microservices system that is using amqp for the transport?

Say I have a high load on my application and I want to introduce more services of the same type and share load between them, as far as I understand this will be problematic because (at least by default) the queues are exclusive so I can't have two services listening on the same pin

[2016-04-21 16:12] nfantone commented on #21
@OriginalEXE You absolutely can spawn more than one microservice. If you register them with the same set of pins, new consumers will be declared on RabbitMQ. The `exclusive` queues are only those tied to responses, which are randomly named and short lived.

[2016-04-21 16:25] OriginalEXE commented on #21
Hmm it might be I messed something else up. Will test again tonight and let you know. Thanks again!

[2016-04-21 17:32] nfantone commented on #21
Please, do and let me know if I can be of help.

[2016-04-21 19:17] vigneshnrfs commented on #21
To extend @OriginalEXE question further, is it possible to have multiple microservices listening on the same pin but carry out different functions. Basically like a fan out method.

[2016-04-22 07:54] vigneshnrfs opened #22 "Multiple Clients on for same pin"
This is my set up. I have three microservices. One listener and two clients.

I am trying to create two clients to listen to the same pin 'register:*' . When one client is active, running another client throws an error.

Same as the example files:

When I run one instance of listener and one instance of client. It works fine.
But when I try to run another instance of client, it throws an error.

[2016-04-22 12:58] nfantone commented on #21
@vigneshnrfs You can. But it won't be _exactly_ like a fanout exchange. And there are certain gotchas you'd have to be aware of. If you have multiple microservices registered with the same pin carrying on different tasks, you'll end up with multiple queues bound to the same routing key on a topic exchange (on default settings, at least). A fanout exchange doesn't care about the routing key, wherea

[2016-04-22 14:17] vigneshnrfs commented on #21
@nfantone Thanks for the pointes. I think I will be able to work with you logic.

[2016-04-22 14:34] nfantone commented on #22
@vigneshnrfs What exactly are you seeing? Which error is thrown? This seems to be working fine for me:

[code]

And then, spawn two clients (output is the same on both):

[code]

[2016-04-22 14:44] nfantone commented on #21
@vigneshnrfs No worries.

I'll leave this issue open, waiting for input from @OriginalEXE.

[2016-04-22 15:20] OriginalEXE commented on #21
Hello,

apologies for the delay, had no time last night.

Ok so it seems like I'm getting an error only when I have two identical .client() calls. The way I am testing this is I run my express server microservice using pm2 and I set "instances" to 2, so it spawns two of them in a cluster.

The exact error is:
[code]

Also, I am wondering, if I have multiple services listening for the same pin, whi

[2016-04-22 16:09] vigneshnrfs commented on #22
This is my output.

Listener
[code]

Running my first client
[code]

Running another client in another terminal:
[code]

[2016-04-22 16:16] nfantone commented on #21
@OriginalEXE No need to apologize. This is the right place to ask questions.

As per your log prints, it _looks like_ you are manually setting the response queue name. Be careful with that. Response queues are randomly named to avoid name clashing. See the [warning in the README.md](https://github.com/disintegrator/seneca-amqp-transport/blob/develop/README.md#how-it-works).

If I'm right, just rem

[2016-04-22 16:19] nfantone commented on #22
@vigneshnrfs When "Running my first client" you seem be spawning a `listener`. Was that a copy/paste mistake?

[2016-04-22 16:28] OriginalEXE commented on #21
Thank you for the answer.

1.) I am not setting the name manually, I have read the warning in the README about it before using the plugin. Here is my whole seneca.js file for the express server:

[code]

2.) I have read your answer but I have to admit I am still a bit confused. Say for example that I have a microservice that is carrying out some time consuming task, and it's at the moment a very "

[2016-04-22 17:10] vigneshnrfs commented on #22
Hi... Sry. That was a copy paste mistake.

The first client ran fine.

[2016-04-22 17:14] vigneshnrfs commented on #21
Hi @originalexe. With regards to point 2 you can spawn multiple microsevices and the load will be balanced. I have tested it with my development environment.

[2016-04-22 18:31] nfantone commented on #21
@OriginalEXE Regarding your first point, it's looking more and more like a bug. The name of your queue ends up being `seneca.res.pg:path:users,role:api,pin:role:api,path:users,type:amqp,url:amqp://rabbitmq-master`, which is totally absurd. Could you please try the `develop` branch and see if that fixes it?

On number two, it's as @vigneshnrfs said. If you start _n_ microservices each one calling `

[2016-04-22 18:37] nfantone commented on #22
Ok. Your error is generated from `client-hook.js:52`. I'm guessing you're facing the same bug described on #21.

Could you please try `develop` and see if your issue goes away?

[2016-04-22 20:14] OriginalEXE commented on #21
Thank you.

I tested it with the develop branch and it works fine, no error :)

[2016-04-22 20:52] nfantone commented on #21
@OriginalEXE Great! I'll cut a new release as soon as I can, so you can install it from `npm`.

[2016-04-22 20:52] #21 closed

[2016-04-22 21:14] nfantone commented on #6
@disintegrator Would you please consider giving me npm publishing right?  I've released and tagged `0.2.1` and I'd like to upload that.

[2016-04-22 21:17] disintegrator commented on #6
Yep I'll look into it

Sent from my iPhone

[2016-04-23 02:44] nfantone commented on #20
Done. Already on `0.2.1`.

[2016-04-23 02:44] #20 closed

[2016-04-23 02:55] nfantone commented on #6
@disintegrator https://docs.npmjs.com/cli/owner

[2016-04-23 05:46] vigneshnrfs commented on #22
@nfantone The develop branch sorts the issue out. Thanks for the fix.

[2016-04-23 06:46] nfantone commented on #22
Fantastic. Next release should be out soon.

[2016-04-23 06:46] #22 closed

[2016-04-23 07:07] vigneshnrfs opened #23 "Handling Error in Listener Callback"
Hi.

I am sure that there is a lot of discussion happening around error handling at https://github.com/senecajs/seneca/issues/398

But I wanted to know if the below scenario is inherent to amqp-transport.

So a microservice

[code]

Calling the above throws  an error and kills the process.
[code]

On the client side, I get the seneca timeout error.

Now I do the below changes
[code]

Also it throw

[2016-04-23 08:07] nfantone commented on #23
@vigneshnrfs Well... it all depends on what you are after, really. If you pass _any_ truthy value as the first argument of the `cb` callback, Seneca will interpret that your action has failed and won't respond to the client. And, unless you call it with `fatal$:false`, it will also consider it to be a _fatal_ error and just blow up. This is a tad extreme, in my opinion - and is one of the reasons

[2016-04-23 08:45] vigneshnrfs commented on #23
Thanks @nfantone . In fact, I started using the above approach in my development.

```return cb(null, { success: false, error: 'OTP EXPIRED'});```

But it just doesn't feel good using errors this way as it adds additional validations on the client callback and is not in tune with node js convention.

But I guess, we will have to wait and see what the seneca comes up with in the future.

And thanks

[2016-04-23 16:41] vigneshnrfs commented on #21
@nfantone Sorry for opening this thread again. Just wanted a opinion on this.

Can I use seneca.prior for a fanout kind of exchange. By default I will have seneca.prior for every. In this case, I am not worried about the response that I will get from those exchanges. Will this kind of workaround have any issues?

[2016-04-23 16:59] nfantone commented on #23
You'd always have that. You _should_, at least. How else would you know if a listener failed?

What convention would that be? If you're writing about [error-first callbacks](http://thenodeway.io/posts/understanding-error-first-callbacks/) Seneca is very much aligned with that. It just does't _interpret_ the meaning of errors the way you want/need in this scenario. In fact, not even that `redis` li

[2016-04-24 18:26] nfantone commented on #21
@vigneshnrfs How do `seneca.prior` and exchanges play along here? You lost me here.

Still, you'd have to call the callback on each listener. Or have the client implement some kind of "fire and forget" mechanism. Maybe [this decorator](https://github.com/senecajs/seneca-fire-and-forget) could help.

[2016-05-09 15:07] tnolet opened #27 "Allow for fanout/broadcast type behaviour"
The current implementation does RPC style pretty well. I have a use case however for a broadcast / fire&forget situation that is really easy to pull of just with RabbitMQ and straight node AMPQ.

- one exchange of the  fanout type
- many queues
- the 'act' publishes to the fanout exchange
- services use the 'add' to registers a queue with the exchange

 Is there a way the plugin currently supports

[2016-05-12 08:32] japel opened #28 "listen for "normal" messages"
Hey there,
is there a way to listen to messages that were not made with a seneca-amqp-transport client?

Thanks in advance

japel

[2016-05-12 12:24] nfantone commented on #28
Hi, @japel.

Of course there is. Apart from the payload's format, there's nothing special about messages created by the plugin. Assuming you left defaults untouched, just route one to `seneca.topic` and the desired routing key and you're good to go.

To see what the actual payload should look like, I'd recommend running a simple script with a `seneca.act` on it. Make sure there's no listener decla

[2016-05-12 14:02] japel commented on #28
@nfantone thanks for your answer!
I've found this:
[code]

as output of your standard client/listener example... If I understand you right the messages produced by non-seneca-apps should have a similar format to be able to work with this plugin?

[2016-05-12 14:44] nfantone commented on #28
Exactly. Be aware that different acts produce different payloads. For instance, using `entity.save`, yields something like:

[code]

However, most of those fields are internally generated and _not_ mandatory. Unfortunately, there's no easy way to tell which ones. The actual content is transport independent, and thus, not generated by this plugin, but by Seneca itself.

Try experimenting a bit and

[2016-05-13 08:28] japel commented on #28
Alright, I'll take a look at it.
Thank you very much for your help!

[2016-05-13 08:54] mihaidma commented on #28
I caught messages with netcat started in server mode: `nc -l 2345`. It opens a server that displays everything received, you just point your act service to that port

[2016-05-13 09:27] japel commented on #28
@mihaidma thanks for that insight... that helps

[2016-05-23 07:14] immanuel192 opened #29 "AMQP Transport manage seneca host wrongly with multiple client"
Consider this code

[code]

When running this code, you will see warning invalid_origin. All response from Server A to Client A will be invalid (invalid_origin). The issue is because, when initialize seneca-amqp-transport, maybe in somewhere, the plugin keep seneca host in wrongly way. I guess the issue is in client-hook.

That why only the last client will be alive, all other will be lost.

[2016-05-23 17:59] nfantone commented on #29
@immanuel192 Could you please make proper use of [markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting) to clarify some of your snippets? It's somewhat hard to follow your examples.

[2016-05-23 21:14] immanuel192 commented on #29
Please check again

[2016-05-24 03:47] immanuel192 commented on #29
Here is the code on server
[code]

[2016-05-24 05:59] nfantone commented on #29
@immanuel192 Well, your example is a very odd one. Are you playing around with Seneca or is this a real use case?

For starters, I could point out a couple of things that I'd do differently:

1. Don't create more than _one_ instance of `seneca` and its plugins. Instead, require it once and reuse that.
2. There's no need to declare multiple clients. You could just define a "multi-pin" client, which

[2016-05-24 06:03] nfantone commented on #28
@japel Feel free to close the issue if you have no further questions.

[2016-05-24 06:04] nfantone commented on #23
Closing due to inactivity.

[2016-05-24 06:04] #23 closed

[2016-05-24 06:12] nfantone commented on #27
My advice would be that if you can handle this easily using plain `amqplib`, then you'd better off using that.

Seneca microservices do not play well with the model you are describing. Particularly, with multiple responses to a single `.act`.

That being said, you _could_ play around the options of the plugin, declare a fanout exchange and have clients publish to it. You would then, probably need

[2016-05-24 09:55] immanuel192 commented on #29
Hi @nfantone

Please check my plugin in here: https://bitbucket.org/trungdang_apium/microservices_servicebase/src
This is plugin for my real project.

My idea is:
- Create a ServiceBase, as a base of my microservices
- Redis, Consul will be integrated into ServiceBase.
- Each service of my microservices will :
  + Use RabbitMQ to communicate to each other
  + Each kind of this service (for example

[2016-05-24 13:59] nfantone commented on #29
@immanuel192 From what I can gather, your scenario is a very typical microservice use case. I may be misunderstanding something, but it seems to me that nothing special prevents you from doing what you want with Seneca + this plugin.

However, I fail to understand the relationship between the "plugin" you are developing the issue you have raised in your first post.

Great! That can be easily done.

[2016-05-24 14:24] #28 closed

[2016-05-24 20:53] nfantone opened #31 "Unit tests and coverage"
Before releasing 1.0.0, it would be nice to have basic functionality tested using Mocha and a [coverage report](https://codecov.io)

- [x] Write unit test for `amqp-util.js`
- [x] Mock out amqplib stuff.
- [x] Write unit test for `listener.js`.
- [x] Write unit test for `client.js`.

@disintegrator Could you give a hand here, if you are available?

[2016-05-25 17:54] immanuel192 commented on #29
Hi @nfantone

Thanks for your comment.

I solved the issue by  just init seneca one time and reuse it.

[2016-05-25 17:54] #29 closed

[2016-05-25 19:51] nfantone commented on #29
Hey, @immanuel192, you're welcome. Glad to be of help.

[2016-06-01 06:44] tvedtorama opened #32 ""Round Robin" load balancing"
Hi,

I see there's another question on queue broadcast, but what if I just want to "randomly" distribute requests to multiple, equal, micro services?  It seems that this is supported in the queue-world, but from what I understand in your documentation, every seneca listener will create its own queue.

I would still want the result of the operation back in my callback, so it's not "fire and forget"

[2016-06-02 09:16] tvedtorama commented on #32
I fired up the examples, using the following syntax to run a local docker Rabbit MQ:

    docker run -d --hostname my-rabbit --name some-rabbit -p 8080:15672 -p 5672:5672 rabbitmq:3-management

... and found that "round robin" distribution is indeed what is used.  Pardon my ignorance.

[2016-06-02 09:16] #32 closed

[2016-06-02 15:47] OriginalEXE opened #33 "Random issue with the transport"
Apologies for the terrible issue title, I did not know how to describe it.

So I'm running into an issue which (I assume based on the circumstances) is caused by this transport plugin.

Basically, I am building an API using seneca and I have three services for now, web-server, users-read and users-write. web-server is the express server, users-read performs only read operations for the API, and us

[2016-06-02 16:07] OriginalEXE commented on #33
Ok I just realized that the behavior is quite random, sometimes it works for the first time, sometimes it doesn't work at all (but email validation works), sometimes neither works.

What I'm thinking this might be related to is that the process involves three services instead of just two (like my get request, which always works). Could that be causing some kind of issue?

So the GET request to `ht

[2016-06-02 19:55] nfantone commented on #32
Nothing to forgive here.

But that's correct. If you spawn multiple microservices, what you'll get is multiple consumers on the same queue. The broker (RabbitMQ, zmq, Kafka, etc.) will handle the balancing between them.

[2016-06-02 20:01] nfantone commented on #33
@OriginalEXE I can smell your desperation. Unfortunately, I'm finding it a bit hard to help you out on current conditions. Could you isolate the issue a little more? Or provide a detailed guide on how to reproduce it? I'm not quite sure on _what_ the problem is, really.

[2016-06-02 20:11] OriginalEXE commented on #33
I tried recreating a simpler scenario but could not reproduce the issue, sorry.

So here's the guide on how to reproduce the issue I am having:

1.) Clone my repo
2.) In the microservices directory, run docker-compose build
3.) When it builds, run it with docker-compose up
4.) Wait about 10-15 seconds for it to start properly (some services will restart as they are trying to connect before the rab

[2016-06-02 21:32] nfantone commented on #33
@OriginalEXE Ok. Give me a couple hours and I'll run your example.

[2016-06-03 01:59] nfantone commented on #33
@OriginalEXE Very sorry to ask this, but couldn't you provide me with a plain `node some-script.js` kinda scenario? I don't have a Docker installation on my current laptop and, being on MacOSX, I need to download a trillion different things to get this working.

If not, you'll have to wait 'till I got some more free time during the weekend to set things up for you.

[2016-06-03 08:36] OriginalEXE commented on #33
Of course, that's the least I can do. I'll set it up and let you know, I'll try to simplify things as much as I can.

[2016-06-03 15:17] OriginalEXE commented on #33
Ok I have created a minimal environment that can reproduce the bug.

Repo here: https://github.com/OriginalEXE/Seneca-AMQP-Bug-Environment

How to run it:
1.) [Install and run RabbitMQ](https://www.rabbitmq.com/download.html) (default settings)
2.) Install pm2 globally (`npm install -g pm2`)
3.) In each of these three directories, run `pm2 starts ./pm2dev.json
4.) Use `pm2 logs` in an of the servi

[2016-06-05 02:32] nfantone commented on #33
@OriginalEXE Ok, I tested you project. And I think I've found at least _one_ issue.

You have two microservices declaring listeners and clients _with the same pin_ (`role:api`). That means, two listeners consuming messages from the same queue.

<img width="612" alt="screen shot 2016-06-04 at 11 19 25 pm" src="https://cloud.githubusercontent.com/assets/476069/15803256/e2424c90-2aaa-11e6-8619-a783b4

[2016-06-05 09:00] chefArchitect commented on #31
@nfantone I have already started writing Mocha unit and functional tests that will cover the full module.  Will create an initial PR tomorrow.

[2016-06-05 13:02] OriginalEXE commented on #33
Hi,

thanks again for taking the time to help! You are right, that's exactly what was causing the issue.

I have a question though, does that mean I need to spawn multiple clients with pins matching those of the listeners of the services I will use? I thought there was a way to just specify "for any message of the pattern role:api look for services on url x", but I'm guessing that's not doable. It

[2016-06-05 15:25] nfantone commented on #31
Hey, @chefArchitect, that's awesome news! Thank you very much. Looking forward to that PR.

[2016-06-05 19:05] nfantone commented on #33
I'm glad I could be of help!

If by "spawn multiple clients" you mean having multiple process running at once, then no, you don't need to do that. You can declare more than one client in a single microservice. Otherwise, the answer is yes.

TBH, pins in the client side are _not entirely_ logical. We could do without those. The only thing that's actually necessary is the act pattern. This could be

[2016-06-05 19:05] #33 closed

[2016-06-05 20:25] OriginalEXE commented on #33
Yeah sorry for wording it poorly, I meant declaring multiple client() connections per service. I agree that it's not very logical, looking forward to simplifying it in the future.

Thanks again!

[2016-06-06 17:48] nfantone commented on #31
Work began in #34

[2016-06-23 06:48] jackyphuong opened #36 "Exception when integrate to Express"
Hello,

Currently, I am trying to integrate Seneca with Express.

It will work well if we act like below code
let seneca = require('seneca')()
    .use('seneca-amqp-transport');
let client = seneca.client({
        type: 'amqp',
        url: '....',
        pin: 'role:communicationservice'
    });

client.act({ role: 'communicationservice', cmd: 'ping' }, (err, result) => {
    if (err) {

[2016-06-27 21:00] nfantone commented on #36
@jackyphuong Well, looks like Seneca can't reach the AMQP broker. Did you check the AMQP URI you are setting on the client? Isn't the Express server running on the same port, per chance?

[2016-06-30 13:16] nfantone commented on #31
Merged!

[2016-06-30 13:16] #31 closed

[2016-07-05 03:45] nfantone commented on #36
@jackyphuong Any updates on this? I'm considering closing the issue due to inactivity.

[2016-07-31 12:52] BhaskaranR opened #41 "amqp connection timeout"
Hi,
I am getting a time out exception when i try to connect a service running locally to rabbit mq instance which is running on a docker container. I could access the uri on the browser through. http://127.0.0.1:15672 works good and brings up the admin screen. am i not setting something?

08:52:14 karmasoc-user-0 Seneca Fatal Error
08:52:14 karmasoc-user-0 ==================
08:52:14 karmasoc-user

[2016-07-31 16:53] nfantone commented on #41
Hi, @BhaskaranR. I believe you're trying to connect to the web admin interface, rather than the AMQP port. 15672 is usually reserved for the admin, while [5672 is the default port](https://www.rabbitmq.com/networking.html) on which RabbitMQ listens for connections.

Try connecting to `amqp://guest:guest@127.0.0.1:5672`.

Also, depending on the version of RabbitMQ you've installed, the `guest` acco

[2016-08-01 02:19] BhaskaranR commented on #41
@nfantone  thanks for pointing it out. It works!

[2016-08-01 02:19] #41 closed

[2016-08-01 05:24] #36 closed

[2016-08-08 09:14] luhtonen commented on #6
Any news on the discussion with seneca owners to make this official? Are there concrete plans and dates setup/agreed?

[2016-08-09 00:31] nfantone commented on #6
@luhtonen That's a good question. Doors have been opened for quite a while now. I'm all for it. Not much to do from my end, TBH. I'm waiting for the guys at Seneca to give me the heads up. AFAIK, they have been working hard to accommodate things and put together a more cohesive plugin ecosystem, lately.

[2016-08-22 06:47] combsco opened #44 "How to make the queue NOT durable? / How to stop msg replay?"
I've tried...

Deleting the queues and exchange and I'm still getting a durable **queue** in RabbitMQ

Using per Readme:
`seneca.use('seneca-amqp-transport', { queues: { action: { options: { durable: false } } } })`

[2016-08-22 06:49] combsco commented on #44
Actually durable queue may not even my biggest concern... let's say a message creates an error... puts a Seneca service into a crash loop.

No way to recover except to purge/delete the queue so the service can come back online.

[2016-08-22 12:44] nfantone commented on #44
@combsco Hi! Thanks for letting me know about your issues.

You are right. In both regards.

1) The usage example on the `README.md` was wrong. Fixed in #45.
2) So, yes - if a client fails to process the payload _before_ it actually gets to the listener function, the microservice will crash. It's not currently under your control. And it'll "put Seneca into a crash loop", as you mentioned. This _ma

[2016-08-22 12:47] nfantone commented on #44
After reading what I've posted above, I felt the need to clarify: that only applies to errors produced _before_ Seneca has the chance to call your

[2016-08-22 17:15] combsco commented on #44
I agree on all points. I ran into this problem passing a message to a Users service ran by Seneca. However, my database throws a 'User Not Found' error which is fine but instead of Seneca properly handling that with my error handlers. It just throws a FATAL error and crashes the process.

Which is how I got to question #2 ... 1 message put my service into a crash loop until Kubernetes got tired an

[2016-08-22 21:21] nfantone commented on #44
@combsco If I understood you correctly, you have one microservice trying to communicate to another to fetch some user data. And the service accesing the database throws an error. Is that error being catch and sent to the requester? If you don't explicitly handle it, the listener will fail with a `FATAL` error and the client will end up crashing with a `TIMEOUT` error.

[2016-08-22 21:38] combsco commented on #44
**Note**: This may or may not be seneca-amqp-transport's fault but might be Seneca error handling in general which there's an open issue somewhere for. Also I don't have **fatal$** set to true so it shouldn't just call everything FATAL. However, oddly enough this works and Seneca returns the error to the API when communicating over the default transport (REST).

**Pipeline**: Client (Postman) <->

[2016-08-23 10:08] nfantone commented on #44
Ok, so a couple of pointers here and there. Let's review your source code, a little bit:

[code]

Also,

- `$fatal` defaults to `true`. All errors are considered "fatal" unless explicitly told otherwise.
- I don't know if `eraro` creates `Error` objects out of your parameters. If that's the case,  some `Error`'s properties are typically not enumerable and thus not not serialized to JSON. So not al

[2016-08-26 14:38] nfantone commented on #44
@combsco Any news on this? `1.0.1` was released to npm with that minor doc fix for the bug you pointed out.

Feel free to close the issue if you do not have any further queries.

[2016-08-28 18:34] abraxas opened #47 "Support for overlapping and subset Routes"
Currently, each service can only provide a fixed set of pins to properly cluster around routes.

Should a listener pin a different subset of the routes, the queues will be distinct, and both respond.

Let's say I have listeners pinned ['foo:1,bar:1','foo:1,bar:2'] and ['foo:1,bar:2','foo:1,bar:3']... If my client is pinned ['foo:1,bar:1','foo:1,bar:2',"foo:1,bar:3'], my message will be received by

[2016-08-28 23:07] nfantone commented on #47
Declaring _unique queues per `.add()`_ is completely doable. And there is no harm in declaring multiple listeners in the same service. In fact, that's the recommended way to go in this cases. Although, I'd argue that if you find yourself in this sort of situation frequently, perhaps you should consider splitting your microservice in smaller scripts - each one with a very well defined set of pins.

[2016-08-30 12:16] vigneshnrfs opened #48 "timeout error not happening in node v6"
I tried installing the latest version of seneca on node v6.

I am using seneca-amqp-transport. When I try calling a pattern that does not even exist, the seneca instance does not even throw a timeout error.

However, it works as expected in seneca v2.0.1.

Explicitly setting the timeout as below does not help either.

[code]

[2016-08-30 13:42] nfantone commented on #48
Interesting. TBH, I haven't tried Seneca 3.0.0, yet - though, all unit testa run fine on it.

I'll give it a spin and get back to you.

[2016-08-30 14:39] nfantone commented on #48
@vigneshnrfs Tried it with both node `5.12.0` and `6.5.0` + seneca `3.0.0` and all my desktop tests ran fine.

[code]

Could you try reproducing what I just did here? Just run the `examples/client.js` script without any listener. Don't forget to set `AMQP_URL` to some valid AMQP broker instance.

[2016-08-31 07:11] vigneshnrfs commented on #48
Hi.. tried the same as above. But the result is the same.

[code]

The 'Run...' message is emitted everytime setInterval function executes.

[2016-08-31 10:46] nfantone commented on #48
@vigneshnrfs I believe I know what's going on. On Seneca `3.0.0` the default timeout has doubled.
Take a look at (this commit)[https://github.com/senecajs/seneca/commit/03e97cdb36ac47d5182db7f8a2893294945c98a3]

So, could you try waiting longer on your first run? It should take half the time for a TIMEOUT error to arise in Seneca `2.1.0`.

[2016-08-31 10:56] vigneshnrfs commented on #48
I've waited for about 2 minutes and no error is thrown.

I'm wondering does is it specific to amqp-transport or an issue in the seneca core module itself.

[2016-08-31 11:04] nfantone commented on #48
I know this is going to sound rather insulting, but I gotta ask: are you completely positive? Because, in your example I can read 8 _"Run..."_ prints on the `3.0.1` run, which would total a waiting time of 16s - given that the interval for `setInterval` is 2000. So that _would not timeout_ in Seneca `3.0.0`, but _would_ in Seneca `2.1.0`. It explains your whole situation.

The transport does not m

[2016-08-31 11:08] vigneshnrfs commented on #48
I am absolutely positive. I ran the scripts just before replying to you.

[code]

[2016-08-31 11:23] nfantone commented on #48
Ok, I re-cloned the repo, started from scratch and now I'm getting the same behaviour you're describing. I wonder what was different on my first attempt. I'll open an issue on [senecajs/seneca](https://github.com/senecajs/seneca). Let's see what they can tell us about this.

Thanks for letting me know.

[2016-08-31 11:32] nfantone commented on #48
@vigneshnrfs Feel free to follow this up on https://github.com/senecajs/seneca/issues/517

[2016-08-31 13:18] vigneshnrfs commented on #48
@nfantone Thanks a lot.

[2016-09-06 15:58] combsco commented on #44
Sorry for my late response. I decided to stop using Seneca and to use Coworkers for microservices. So we can close this issue. Thanks @nfantone

[2016-09-06 15:58] #44 closed

[2016-09-06 22:01] nfantone commented on #44
[Coworkers](https://www.npmjs.com/package/coworkers) looks nice! Didn't know about it. Hope it helps you solve your scenario better.

[2016-09-07 17:52] chippawah opened #49 "Does this allow for communication across docker-compose containers?"
I'm trying to set up a few microservices that will sit on different docker containers. My thought is that I can have a rabbitMQ container running and then have each microservice on other containers make actions against and listen (with pins) to the rabbitMQ container. Each container has one seneca instance exported to be used by mircoservices within the container. Each instance is using the same a

[2016-09-07 18:29] chippawah commented on #49
I found what was missing. A client needs a pin even if its `role:*,cmd:*`. Closing for now but happy to help anyone stuck with this.

[2016-09-07 18:29] #49 closed

[2016-09-12 15:16] mcdonnelldean commented on #48
Folks, just a heads up, still digging here. The only changes I can see where doubling time-out and updating the Gate Executor.  Still not sure the root cause, as soon as I find it I'll let ye know.

[2016-09-21 23:33] OriginalEXE opened #50 "RabbitMQ: Unknown delivery tag 1"
Hello,

I just came across this error, the reason why I'm opening an issue is because it seems to have some sort of relation to the AMQP transport plugin, even though I'm not sure why it happened only now, since I've been using it for quite some time in the same way, and never had this happen.

Here is the error log from the console:

[code]

I did some research and it seems to have something to d

[2016-09-21 23:34] OriginalEXE commented on #50
Oh btw. I'm using the latest version of this plugin and Seneca 3.0.0

[2016-09-22 00:33] nfantone commented on #50
That usually implies double ACK'ing or rejecting of a message. Did you upgrade RabbitMQ (or equivalent) recently? Did its configuration changed? Was `amqplib` updated?

I'll dig deeper into this and see what I can make of it. Could you provide a reproduceable scenario for the issue?

[2016-09-22 11:19] OriginalEXE commented on #50
Hi,

your first sentence helped me find the issue, thanks a lot!

The problem was that I had a promise chain inside the seneca `add` `function( msg, done){}` callback, and I called `done` multiple times because I was not canceling the promise.

Sorry for bothering you with this :)

[2016-09-22 11:52] nfantone commented on #50
@OriginalEXE No worries. Glad to help! I'll close the issue, but feel free to keep posting if you need to.

[2016-09-22 11:52] #50 closed

[2016-09-22 11:53] nfantone commented on #48
@mcdonnelldean Could you found a possible culprit on this?

@vigneshnrfs Any chance you figured this out?

[2016-09-23 05:10] vigneshnrfs commented on #48
Haven't really looked into it. For the moment, using v2.

[2016-09-27 13:46] jofan opened #51 "Debug/test messages?"
Wonder if someone could help me understand how I can test the transport by sending messages to rabbitMQ from the outside?

For example, if I have the following, what would I need in the payload to send a Seneca "cmd":

[code]

[2016-09-27 20:26] nfantone commented on #48
@vigneshnrfs I'm testing with latest `3.2.1`. Seems like the issue was resolved. I'll get back to you with a report very soon.

[2016-09-27 21:15] nfantone commented on #48
@vigneshnrfs Ok, sadly this is still going on in latest release. Already reached out to @mcdonnelldean for input.

[2016-09-27 21:17] nfantone commented on #51
@jofan This has been answered before. You can take a look at #28. Follow the thread: it has some advice on how to proceed to achieve what you want. If you need further assistance, write me back here.

[2016-09-27 21:19] mcdonnelldean commented on #48
The only thing that has changed that could be responsible is the gate executor.  No other part of transport got any significant updates.  @rjrodger any thoughts on this.

Amqp is broken on 3

On 27 Sep 2016 10:15 p.m., Nicolás Fantone <notifications@github.com> wrote:

@vigneshnrfs<https://github.com/vigneshnrfs> Ok, sadly this is still going on in latest release. Already reached out to @mcdonnell

[2016-09-28 06:10] jofan commented on #51
@nfantone Thank you, I did see that message after my post. I haven't been able to send a message even with the output from inspecting seneca.act. I'll keep looking into it.

[2016-09-28 06:10] #51 closed

[2016-09-29 11:21] nfantone commented on #51
@jofan What exactly is it that you are struggling with? Maybe I can give you some pointers?

[2016-10-11 11:55] nfantone commented on #6
@mcdonnelldean So... any changes so far? Are you guys ready for this? 🎈

[2016-10-11 15:36] mcdonnelldean commented on #48
@nfantone We are going to put some time on this issue in the next couple of days, we have someone working with seneca who should be able to drill in to this and figure out just what happened.

[2016-10-11 15:39] mcdonnelldean commented on #6
@nfantone Yes, sorry, as usual we are bogged down. I spoke to Richard and others about green lighting. Rather than wait for the official procession lets just get it done :D

Can you add me repo so I can move it into senecajs/ org? You will need to republish after to fix npm links. Note it will go into the same org as seneca proper, not the labs or community org.

The only rules really are to try k

[2016-10-11 17:19] nfantone commented on #6
Yey 🎂 ! Finally.

Well, repo already uses [Seneca's eslint rules](https://github.com/senecajs/eslint-config-seneca), is MIT licensed and follows [your contributing guides](http://senecajs.org/contribute/).

If you need any further changes, let me know.

[2016-10-11 17:21] nfantone commented on #6
@mcdonnelldean Invite already sent. Check your inbox.

[2016-10-11 18:22] mcdonnelldean commented on #6
Yup got it. Should be moved in the next couple of hours

On 11 Oct 2016 6:21 p.m., "Nicolás Fantone" <notifications@github.com>
wrote:

[2016-10-11 18:36] nfantone commented on #6
@mcdonnelldean I don't know if you have already established some guidelines for these migrations, but one approach we have been following with Koa modules is to drop the `koa-` prefix on repos names once moved onto the organization. If it's in our repo, that becomes tacit. So, for Seneca, that would make:

`https://github.com/seneca-contrib/seneca-amqp-transport` -> `https://github.com/senecajs/am

[2016-10-11 18:43] mcdonnelldean commented on #6
Generally we leave it as is, we find the seneca-x way makes it easier to find things on github and npm. Should be moved in two mins.

[2016-10-11 18:44] mcdonnelldean commented on #6
@nfantone Looks like I need to be bumped to owner to move it across. Once done ping and I'll move. (write privilege is not enough)

[2016-10-11 18:45] nfantone commented on #6
I believe I made you _Admin_ of the repo. Let me check.

[2016-10-11 18:46] nfantone commented on #6
@mcdonnelldean Yup. Your rank is as high as they come.

<img width="779" alt="screen shot 2016-10-11 at 7 45 22 pm" src="https://cloud.githubusercontent.com/assets/476069/19283815/4c42ec3a-8feb-11e6-9532-308db2537e1f.png">

[2016-10-11 18:49] mcdonnelldean commented on #6
Testing, testing... Are we live, has everyone got the right access?

[2016-10-11 18:50] nfantone commented on #6
@mcdonnelldean Seems like it.

👀 Everyone all right?

[2016-10-11 18:57] nfantone commented on #6
@mcdonnelldean Tried pulling and pushing. Works wonders.

One thing though: do we have a team that maybe I can become a member of? This is just to show a "badge" on issues to tell people I'm maintaining the project. It used to be "seneca-contrib member" previously.

[2016-10-11 19:21] mcdonnelldean commented on #6
Yup, I'm setting it all up now, you will end up on two or three but it always shows you are a member then.

[2016-10-11 19:25] mcdonnelldean commented on #6
Ok I've sent the contributors one only so it doesn't go all funny from multiple requests. You should see the info here https://github.com/orgs/senecajs/teams/contributors.

[2016-10-11 19:30] nfantone commented on #6
`404` on that URL. I suppose I don't have access to that yet.

[2016-10-11 19:31] mcdonnelldean commented on #6
Really? Can you hit the teams page and then contributors? Your invite pops
up there too

On 11 Oct 2016 8:30 p.m., "Nicolás Fantone" <notifications@github.com>
wrote:

[2016-10-11 19:35] mcdonnelldean commented on #6
Maybe try just https://github.com/senecajs It should pop up there.

[2016-10-11 19:39] nfantone commented on #6
There. Invitation arrived. All set, then.

Thank you very much for letting me on board!

I'll be closing the issue.

[2016-10-11 19:39] #6 closed

[2016-10-11 19:42] mcdonnelldean commented on #6
Yay!  Cc @rjrodger @paolochiodi

On 11 Oct 2016 8:39 p.m., "Nicolás Fantone" <notifications@github.com>
wrote:

[2016-10-12 10:46] paolochiodi commented on #48
@nfantone @vigneshnrfs I'm able to confirm this is a bug on the seneca side that causes the timeout not to work for most actions (not only related to amqp or even transports).

The bug actually resides in seneca gate-executor, you can follow the resolution here https://github.com/senecajs/gate-executor/issues/16

[2016-10-12 12:08] nfantone commented on #48
Replied to you in https://github.com/senecajs/gate-executor/issues/16. I'm going to leave this issue open for people coming to the transport to be aware of the bug until it's fixed.

[2016-10-13 12:36] nfantone opened #58 "Remove the need for pins"
@rjrodger and @mcdonnelldean I've been looking for a way to avoid the need for users to set pins on clients and/or listeners (I believe your plans include [deprecating them](http://senecajs.org/roadmap/#5-0-early-2017) in a not-so-distant future?). Currently, they don't really serve much purpose other than feeding the exported `transport/utils` functions, which [make pins mandatory](https://github

[2016-10-13 12:44] nfantone commented on #58
A second approach would be to `seneca.decorate` the global instance of Seneca and define a new function that could register the queue and whatnot, serving as a drop-in replacement for `add`. Something like,

[code]

Again, not a perfect solution. And would bring over transport incompatibilities and other issues to the table.

[2016-10-13 16:03] nfantone opened #59 "Support dead lettering of messages"
A message created from an `.act` that didn't reach its destination (eg.: no listener was active or a pattern mismatch) should be routed to [a dead letter exchange](https://www.rabbitmq.com/dlx.html) instead of being silently discarded and lost. Dead lettering should be configurable by the user.

[2016-10-13 16:18] paolochiodi opened #60 "Pins with integer attributes not supported?"
If I define a seneca instance to listen to a message that contains an integer attribute I get a fatal error. The same message, with a string value instead will work.
This is unfortunate because messages like `remote:1` will get translated to `{remote:1}` and not `{remote:'1'}`

## Examples:

### Won't work:
[code]

[code]

### Will work

[code]

[code]

## Error received

[code]

[2016-10-13 18:01] ibobo commented on #23
I found a solution, you must set:
`seneca.fixedargs['fatal$'] = false;`
at the start of your service, the one that actually returns the error.

[2016-10-13 18:14] nfantone commented on #60
@paolochiodi Never run into this before. Then again, I've never tried setting a pin to a `Number`. Looks like a bug.

Incidentally, is this even supported by Seneca, in general? Do other transports behave differently?

[2016-10-14 08:41] paolochiodi commented on #60
@rjrodger or @mcdonnelldean may better know what is the intended behaviour, but from my experience it works with seneca. I've also tried both http and tcp transports and they work as expected

[2016-10-16 18:21] nfantone commented on #59
Closed by #61.

[2016-10-16 18:21] #59 closed

[2016-10-16 20:50] #60 closed

[2016-10-17 12:49] nfantone commented on #58
@mcdonnelldean Know anyone that could help me on this? I'm willing to send a PR if this is not at all possible in Seneca if someone could provide me some advice.

[2016-10-17 14:21] ppinel opened #63 "Every queue has a consume rate of at best 25 messages per second. How can I increase this?"
Hello,

I am using SenecaJS with this plugin and RabbitMQ. When I did some benchmarking to understand why at best I had 25 messages per second handled on each queue, I found out that it takes 40ms for a message to go and come back.
For exemple, a microservice ask for an object to another microservice (Basically a mongodb query).
The act callback is called 40ms after when Mongodb query only takes 2

[2016-10-17 16:16] nfantone commented on #63
Hi, @ppinel. Thanks for taking the time to write about your issue.

I've tested this on my side and found wildly different numbers than the ones you brought up. For instance, running the microservices on the `/examples`, both `client.js` and `listener.js` locally (and RabbitMQ `3.6.4` on `localhost`), I could get up to 820+ msg/s.

See screenshot below:

<img width="707" alt="screen shot 2016-10-1

[2016-10-17 16:45] nfantone commented on #47
@abraxas I'm working on a re-implementation of the listener hook that would allow you to declare one queue per `.add`. Currently, I'm waiting for input on #58. So, stay tuned - if you haven't walked away from here since August, that is.

[2016-10-18 13:56] ppinel commented on #63
Thanks for your response.

Yes I am connecting to the broker locally, not using any load balancer or proxy. The broker wasn't under heavy load because it's on my dev env and nobody is using it but me.
There is 121 queues declared with 104 corresponding to response and 17 to action.
There is a low traffic on the queue in general. Microservices are behind an API gateway and can talk with each other

[2016-10-18 14:00] nfantone commented on #63
Awesome. Your setup LGTM. Could you also include the output of RabbitMQ's web admin? In particular, I'm interested in the Acknowldeg rate.

[2016-10-18 14:17] ppinel commented on #63
Here the exemple running on my server. I am lost oO

<img width="865" alt="screen shot 2016-10-18 at 16 14 02" src="https://cloud.githubusercontent.com/assets/2622533/19481430/33312e1a-954e-11e6-87cc-dba50afb3d42.png">

<img width="1620" alt="screen shot 2016-10-18 at 16 13 51" src="https://cloud.githubusercontent.com/assets/2622533/19481429/33186ccc-954e-11e6-8622-c5444b53330f.png">

[2016-10-18 14:41] ppinel commented on #63
On my macbook pro:
<img width="1671" alt="screen shot 2016-10-18 at 16 40 03" src="https://cloud.githubusercontent.com/assets/2622533/19482517/9e9a63bc-9551-11e6-8304-071c57e3155f.png">
<img width="1680" alt="screen shot 2016-10-18 at 16 39 24" src="https://cloud.githubusercontent.com/assets/2622533/19482518/9ea93586-9551-11e6-9074-e69a33f7b889.png">

[2016-10-18 15:15] ppinel commented on #63
I just reinstall RabbitMQ on the server and still have the same issue.

[2016-10-18 15:56] nfantone commented on #63
@ppinel All right. Numbers on your Macbook look a lot more than what I'd expect. What other differences can you think of between your local env and your server?

Consider:

- [ ] `seneca`, `seneca-amqp-transport` versions.
- [x] Node version (`6.8.1` in both).
- [ ] RabbitMQ version (I can see it's `3.6.1` on you laptop).
- [ ] Is your server running inside a VM or a container?

Also, you did chan

[2016-10-18 16:10] ppinel commented on #63
Yes I did changed setInterval in both cases, otherwise messages are coming to slowly and I never reach the mysterious limit.
3.6.1 on my server too, and seneca, seneca-amqp-transport versions are the same.

Regarding the server it's from a french hosting service OVH.
https://www.soyoustart.com/fr/offres/e3-ssd-2.xml or
https://www.soyoustart.com/fr/offres/e3-ssd-3.xml
So dedicated server.

[2016-10-18 16:16] ppinel commented on #63
It could be on the OS layer. Is there any limitation you had to change or met someone with issues on Debian?
I am looking at the Overview tab and nothing have crazy value as fd, socket, memory etc.

[2016-10-18 16:18] nfantone commented on #63
I'm perplexed. And out of ideas.

Could you please read and check [this](https://www.rabbitmq.com/flow-control.html) out? Use the `rabbitmqctl` in your server to check  if the connection is being stalled.

[2016-10-18 16:26] nfantone commented on #63
Although rare, it _could_ be. Check the **Process statistics** panel on _Overview -> (More about this node)_ and take a look at the thresholds in each graph. For example, mine look like this:

<img width="886" alt="screen shot 2016-10-18 at 5 23 02 pm" src="https://cloud.githubusercontent.com/assets/476069/19486818/c8ef1be8-9557-11e6-84ce-5aff1b68a635.png">

Also, is your RabbitMQ node Disc or RAM

[2016-10-18 16:43] ppinel commented on #63
First one is while running exemple, second one is before.

I can't tell if my RabbitMQ is disk or memory based. How can I know this?

<img width="989" alt="screen shot 2016-10-18 at 18 40 01" src="https://cloud.githubusercontent.com/assets/2622533/19487270/5702f2ec-9562-11e6-8e46-14d7a9279f3e.png">
<img width="864" alt="screen shot 2016-10-18 at 18 39 03" src="https://cloud.githubusercontent.com/a

[2016-10-18 16:51] nfantone commented on #63
Ok, so no problems there.

There' a tag under the node's title on its description page. It also appears on the Overview tab.

<img width="428" alt="screen shot 2016-10-18 at 5 49 35 pm" src="https://cloud.githubusercontent.com/assets/476069/19487553/476e9e28-955b-11e6-9d04-48ce2d20e133.png">

Did you manage to check the `flow` status of your connection?

[2016-10-18 16:53] ppinel commented on #63
Ok disk everywhere.
Also tested on a fresh AWS EC2 on debian and same issue.

<img width="977" alt="screen shot 2016-10-18 at 18 52 05" src="https://cloud.githubusercontent.com/assets/2622533/19487683/20279136-9564-11e6-8476-70c922bcd564.png">

[2016-10-18 16:55] ppinel commented on #63
What's 48MB low watermark ?
<img width="879" alt="screen shot 2016-10-18 at 18 54 54" src="https://cloud.githubusercontent.com/assets/2622533/19487762/6618e118-9564-11e6-9c39-1483dece1f85.png">

[2016-10-18 16:59] ppinel commented on #63
I checked on the connections tab during a test:
<img width="716" alt="screen shot 2016-10-18 at 18 58 22" src="https://cloud.githubusercontent.com/assets/2622533/19487900/f42c1a7e-9564-11e6-9b27-a59ca022d6da.png">

[2016-10-18 17:22] nfantone commented on #63
Minimum free space needed for the node to run.
---

Ok, so no throttling on the connection. This looks like a non-arbitrary fixed cap of sorts. 25 is too much of a nice round number to be a coincidence.

[2016-10-18 18:07] ppinel commented on #63
Also it's the same number across server even on the aws ec2 instance.
I created a stackoverflow question: http://stackoverflow.com/questions/40114532/every-queue-has-a-consume-rate-of-at-best-25-messages-per-second-how-can-i-incr

[2016-10-18 18:09] ppinel commented on #63
Thank you for your time, I'll post an update here as soon as I have the solution.

[2016-10-18 18:13] nfantone commented on #63
Thanks! Yes, if you come up with a solution, please share it. I'm intrigued now.

[2016-10-18 21:21] ppinel commented on #63
I  wanted to know if by any chance you take advantage of this option https://github.com/squaremo/amqp.node/blob/master/lib/connect.js#L98?
Idea from this post https://groups.google.com/forum/#!searchin/rabbitmq-discuss/performance$20problem/rabbitmq-discuss/3eiFVoQVfUU/ELOeTOU8EE8J

[2016-10-19 07:32] ppinel commented on #63
I hardcoded the no delay option in amqplib to true and I have 930 messages deliver per second with the example.
I know why this is usefull but maybe I could decrease the delay.

<img width="1655" alt="screen shot 2016-10-19 at 09 25 39" src="https://cloud.githubusercontent.com/assets/2622533/19509407/d3c879d8-95de-11e6-8ae5-c05b1e36cfbd.png">

[2016-10-19 08:08] ppinel commented on #63
Found out how to set the noDelay option: `{ amqp: { socketOptions: { noDelay: true } } }`.

[2016-10-19 11:41] nfantone commented on #63
Had no idea about that `noDelay` flag. And I assume that if kept `false`, the delay in socket communication is OS dependant? That would explain your behaviour on Debian.

You learn something new everyday. Thanks for your teachings 🐐 ! Perhaps, I can include this in some **FAQ** section on the `README.md` or the wiki.

Feel free to close the issue if you think there's nothing else you can do to imp

[2016-10-19 11:47] ppinel commented on #63
Yes it's OS dependant. Would be great if this flag could be documented.
Also, this might not be the right solution for everyone.
Thanks again for your help!

[2016-10-19 11:47] #63 closed

[2016-10-19 11:50] nfantone commented on #63
@ppinel After reading the whole thread on that Google Groups forum, I'm inclined to say that your solution with `noDelay: true` is very reasonable. And it _is_ platform dependant, as you mentioned above. [Nagle](https://en.wikipedia.org/wiki/Nagle%27s_algorithm) will throttle the communication on the TCP level to avoid congestion on the network, by "joining together" packets and avoid sending smal

[2016-10-19 22:58] thakerng opened #64 "seneca-amqp-transport is fragile for production that causes to denial-of-service"
there are 2 services set up on different site, both connect to the same rabbitmq server I make the situation roughly here

[code]

[code]

when I call a service `/api/bar` It's work well , but when I call `/api/baz` it's stuck because done was not called It's fine but I expect that when I call `/api/bar` again it should be work
but it's stuck too and a message in Rabbitmq of `/api/bar` have not be

[2016-10-20 00:39] nfantone commented on #64
Unfortunately, as of `3.2.1`, timeout in Seneca is broken. Issue was fixed by [this PR](https://github.com/senecajs/gate-executor/pull/15), but it still needs to be rolled out. We are currently waiting for the next release of `gate-executor`.

In the meantime, one thing you can do is  _downgrade_ to Seneca `2.0.1`. It's a lame solution, but the best one I can give you as of now.

I'll try to push

[2016-10-25 17:47] sskim1 opened #65 "Can't set durable: false or can't specify message TTL"
I'm trying to set the queue's durability to false with this:

[code]

However, this doesn't do anything. I am also trying to set a message-ttl. Is this even possible?

[2016-10-25 19:39] nfantone commented on #65
Hi, @sskim1!

Which version of the plugin are you using? On latest (`2.1.0`), message TTL is [already set by default](https://github.com/senecajs/seneca-amqp-transport/blob/2.1.0/defaults.json#L54) to 10 seconds. You can change it to whatever you need.

On the other hand, your snippet is good and is working fine. The thing is, client queues a declared with `AD` (auto delete) and **`Excl`** (exclus

[2016-10-25 22:21] nfantone commented on #64
This was fixed in `seneca@3.2.2`.

[2016-10-25 22:21] #64 closed

[2016-10-25 22:21] nfantone commented on #48
Fixed in `seneca@3.2.2` 🎉

[2016-10-25 22:21] #48 closed

[2016-10-26 12:46] sskim1 commented on #65
I was on an old version. Thanks for the quick reply!!

[2016-10-26 12:46] #65 closed

[2016-10-29 14:14] ericnograles opened #66 "AMQP Listener Doesn't Work With dot values in the pin (e.g. role:twitter,version:v1.0,cmd:tweets,method:GET)"
Hi there!

First off, fantastic work on Seneca and its ecosystem.  It is a revelation, especially after having "rolled our own" microservice conventions and knowing how difficult it is to land on a proper pattern.  The Seneca scheme is quite elegant.
## Issue Overview

I think I ran into a weird edge case, or I missed something in the documentation.  In short, it appears that Seneca AMQP services

[2016-10-29 15:35] nfantone commented on #66
Hi, @ericnograles. Good catch there. It looks like a bug related to topic parsing. My guess is that some function on `amqp-util.js` is misinterpreting your pin. Unfortunately, I'll be out for the weekend so I won't be able to dig into this until next week.

Keep me posted if you find anything else.

[2016-10-29 18:32] ericnograles commented on #66
Thanks, @nfantone!  I believe I found the root cause in `amqp-util.js`.  Line 120 in the `resolveTopic` function.

![image](https://cloud.githubusercontent.com/assets/6023705/19831941/5d3f10f2-9de4-11e6-8634-cc4eb6833859.png)

The join with a simple period is where I believe it goes screwy.  I'm guessing we're going to need to find a way to "escape" dots in pin values somehow.  I'll try to work ou

[2016-11-04 12:10] ericnograles opened #69 "How to limit message consumption rate for services?"
Hi @nfantone,

I ran into a scenario that I think warranted a little discussion before I attempted to attack it.

I've "rolled my own" microservice framework with my team before using a variety of libraries + amqplib, which is why Seneca was such a revelation to me.  I certainly can appreciate the thought put into this framework and its plugins.

One situation I remember that we had to handle was

[2016-11-04 12:35] nfantone commented on #69
Hi @ericnograles!

But those settings _really_ sound like what you are after. There are two ways to go about this: you either limit publishing rates or throttle consumers.

Those flags were designed to control flow and manage scenarios like que ones you described well. Moreover, RabbitMQ has a [flow control system](https://www.rabbitmq.com/flow-control.html) baked in. You may want to play around w

[2016-11-04 12:45] nfantone commented on #69
By the way -and while we are still on the subject-, the way to "kick" a message back to queue is by `ch.ack(msg)` it,  setting `requeue` to `true` (see [the doc](http://www.squaremobius.net/amqp.node/channel_api.html#channel_nack)).

[2016-11-04 13:18] ericnograles commented on #69
Great thoughts, @nfantone I'll definitely investigate at the AMQP level and report back.  That was my preferred solution as well, as it really is the concern of infrastructure vs. app.  I'll post what I end up doing as I experiment with a few things, as I'm sure that could be of help for others.

Thanks!

[2016-11-04 13:27] nfantone commented on #69
Sure thing.

Shout if you end up wanting to implement something on the transport. The way I'm thinking about it, it shouldn't be too hard. As you said, you'd need to keep a record of how many unack'd messages a particular service is holding at any moment. If that number if higher than a certain configured threshold, just reject and requeue incoming messages (`.nack`) while the condition still hold

[2016-11-04 13:27] #66 closed

[2016-11-04 13:31] nfantone commented on #58
**TL;DR** I want to know which pattern is being added by the user when calling `.add`, either at the time of the call (via a hook or event, possibly) or later at Seneca initialization.

@senecajs/collaborators Anyone?

[2016-11-08 10:16] ppinel opened #70 "How can I separate client queues by environment?"
Hello,

I have different environments on a same server using the same RabbitMQ instance.
I am using prefix option to prefix queue name for each micro services.

Issue is on the client side. When I add clients to a micro service, from what I understood, the queue name is based on pins. Pins are the same on each environment, so I have conflicts.
Response queue is the same across environment, if I am

[2016-11-08 12:51] nfantone commented on #70
Hello, @ppinel. Thanks for using the transport.

A couple of things here to say.

The way different environments are usually managed is by setting up different broker instances. I know this may sound trivial, but that's what you and your team should really be doing. Maybe take advantage of VMs, Docker, vagrant, and whatnot.

Having said that, there are some alternatives to that:

- Use **different

[2016-11-08 13:54] ppinel commented on #70
Really great answer!
Thank you!

[2016-11-08 13:58] nfantone commented on #70
You are welcome!

[2016-11-08 13:58] #70 closed

[2016-11-13 19:26] nfantone commented on #69
@ericnograles Any luck with this?

[2016-11-15 19:11] ericnograles commented on #69
@nfantone Sorry for the radio silence, as I've been a bit busy with a client!  I have a draft but I want to refine it some more as it feels a little hacky.  Hopefully will have a PR in place by this weekend so we can discuss.

As it so happens, our old use case where one service would "hog" all the messages wasn't really happening at load with Seneca.  I tested on a Heroku cluster and the work see

[2016-11-15 20:06] nfantone commented on #69
@ericnograles I agree: it's not a _critical_ feature. So a PR is not really needed, TBH. Feel free to close the issue if you don't have the time for this.

[2016-11-30 13:13] #69 closed

[2016-12-13 14:58] nfantone opened #74 "Add functional tests using rabbitmq services on CI"
Similar to what [amqplib does](https://github.com/squaremo/amqp.node/blob/master/.travis.yml#L14), add tests than run on an actual RabbitMQ server and cover "black box" use cases.

These tests should _not_ be a replacement for unit testing and should sit and run alongside them on each CI trigger.

[2017-01-12 05:07] nfantone commented on #74
This is coming as part of #73 now.

[2017-01-12 05:25] nfantone commented on #74
Done. Already on `develop`.

[2017-01-12 05:25] #74 closed

[2017-01-13 11:13] mpseidel commented on #18
@nfantome any updates on this? I understand the design decision generally but still struggle to decide if a basic recovery from a connection glitch to amqp would be better in our scenario.

We have a api gateway service that accepts http calls and routes messages to our rabbitmq-cluster. If a connection to one rabbit instance goes bad we might be able to quickly fail over to another instance witho

[2017-01-13 16:54] nfantone commented on #18
@mpseidel I've been very busy mostly rewriting the entire plugin. Work on #73 is now on `develop` and soon to be released. It should be now easier to add new stuff. So, I'd like to tackle this and other  long pending feature requests next.

In the meantime, you should be load balancing requests to your RabbitMQ nodes. This is one the advantages of putting a cluster together. But, from your words,

[2017-01-13 17:03] mpseidel commented on #18
Thanks for the update! Yes we are failing over already but only ofter a crash of the node process caused by seneca that may cause multiple http requests to die as well.

[2017-01-21 09:16] mpseidel commented on #27
Hey @nfantone - I saw "Better support for fanout exchanges" is on the roadmap. Any blockers that we can remove or decisions that can be helped with?

[2017-01-21 23:15] nfantone commented on #27
@mpseidel Thanks for reaching out and showing interest. I've been busy refactoring the entire plugin. And also, travelling around due to personal matters. So yes, the idea still holds and will eventually be implemented.

That being said, it is _not_ undoable with the current approach. You have complete freedom in the declaration and configuration of AMQP elements. There's nothing preventing you fr

[2017-02-17 16:24] seonixx opened #76 "Multiple URLs for failover configuration"
Is there any way to set multiple URLs for use as a failover when two proxy URIs are available?

[2017-02-17 16:59] nfantone commented on #76
@seonixx Hi, there. Thanks for writing.

No, there's no baked-in support for a failover mechanism, currently. What I'd suggest you do is handling that in the network layer by setting up some kind of load balancer, such as [HAProxy](www.haproxy.org/), that would abstract away calls to an AMQP cluster with multiple nodes.

[2017-02-17 17:17] seonixx commented on #76
@nfantone Yeah makes sense. Thanks for your prompt reply.

[2017-02-17 17:17] #76 closed

[2017-02-19 17:51] seonixx opened #77 "AMQPS Support"
I'm trying to connect to a hosted amqp provider that mandates AMQPS be used. Does this module support AMPQS and if so, is there an example of a working connection?

[2017-02-19 22:22] seonixx commented on #77
Assuming type remains amqp, I'm getting the following error when trying to connect with AMPQS:

[code]

[2017-02-20 12:07] bra1n opened #78 "Support more than 2 arguments for .add / .act callbacks"
Example:
[code]

Expected output:
[code]

Actual output:
[code]

[2017-02-20 12:58] nfantone commented on #77
Hi, @seonixx.

Yes and [yes](https://github.com/senecajs/seneca-amqp-transport#socket-options).

Plugin supports whatever [ampqlib](http://www.squaremobius.net/amqp.node/) does, actually.

[2017-02-20 13:02] nfantone commented on #78
@bra1n Hi, there.

Thanks for letting me know of this. Wasn't aware of the feature. It should definitely be supported by the plugin.

I'll start working on it.

[2017-02-20 13:06] bra1n commented on #78
Thanks for the quick response, looking forward to it! :-)

[2017-02-20 13:15] nfantone commented on #78
@bra1n On a first, shallow look into this, it seems like support for this is missing in [seneca-transport](https://github.com/senecajs/seneca-transport). Still unsure, though.

Will keep on digging.

[2017-02-20 13:40] nfantone commented on #78
Ok, I can confirm this, @bra1n. [seneca-transport](https://github.com/senecajs/seneca-transport) -which is what _all_ transport are/should be based on- **does not** support multiple arguments.

Take a look at [this line](https://github.com/senecajs/seneca-transport/blob/master/lib/transport-utils.js#L262). That's the actual `.act`. call that ends up invoking your remote action. See that it complet

[2017-02-20 13:44] bra1n commented on #78
Huh, interesting. I opened an issue there as well. Thanks for the reasearch, @nfantone 👍

[2017-02-20 13:47] nfantone commented on #78
@bra1n Seems like we both did.

https://github.com/senecajs/seneca-transport/issues/152

[2017-02-20 13:47] bra1n commented on #78
Haha, I'll close mine then.

[2017-02-20 13:50] nfantone commented on #78
@bra1n No problem at all. Thanks.

Let's leave this open to track progress and alert other people, since it's affecting the transport.

Good spot, BTW.

[2017-02-21 18:14] seonixx commented on #77
@nfantone thanks. Not sure how I missed the socket options :/

Anyway - I'm getting those errors when trying to connect to a compose.io rabbitmq host that uses AMQPS with letsencrypt certificates. I assumed this would work as is, or at most require me to add the root CA and/or intermediary CAs for letsencrypt. Nothing seems to make a difference though. Any ideas?

[2017-02-21 18:39] seonixx commented on #77
@nfantone I can also connect fine when using amqplib, but not with this module.

[2017-02-21 18:45] nfantone commented on #77
@seonixx That is odd. Would you mind sharing some code snippet on how you are connecting with both, please?

[2017-02-21 18:52] seonixx commented on #77
Sure.

Working (based on example from amqplib docs):
[code]

Getting various certificate errors when connecting with this module as follows (for example):
[code]

[2017-02-22 14:49] seonixx commented on #77
@nfantone - using amqplib 0.5.1 and seneca-amqp-transport 2.1.0.

[2017-02-22 15:33] nfantone commented on #77
@seonixx Sorry, I'm a bit busy today. Didn't find the time to try your code. Meanwhile, could you do me a favor? Could you try connecting using latest on `develop`, please?

[2017-02-22 18:36] seonixx commented on #77
@nfantone Tried connecting with latest on develop. Same issue unfortunately :(

[2017-02-23 00:38] nfantone commented on #77
@seonixx I just ran the `examples/listener.js` listener over `amqps` and it worked fine.

Could you try doing the same with your endpoint, please? Just clone the repo and from its directory, execute:

[code]

[2017-02-23 00:56] nfantone commented on #77
Another thing you can do is read and follow the [amqplib guide on SSL](http://www.squaremobius.net/amqp.node/ssl.html). It even provides actions for common errors.

Also, if you are using self-signed certificates, try setting the env var `NODE_TLS_REJECT_UNAUTHORIZED=0` before connecting. You can do that by adding:

[code]

in your script or by setting its value in the terminal before running it:

[2017-02-23 10:22] seonixx commented on #77
@nfantone when you say you ran it over AMQPS and it worked fine, what kind of certificates were you using? Self signed? I'm using a hosted compose.io instance that uses letsencrypt certificates.

I get the same error testing with the listener, however it works with `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";` set. Obviously this isn't really a solution though as its just ignoring the certific

[2017-02-23 11:30] nfantone commented on #77
@seonixx Ok, so this is evidently a certificate validation issue. To be completely honest with you, I don't understand how your `amqplib` script works. If you _don't_ provide a cert in `socketOptions` that would mean one of two things:

- You are using a self-signed cert (local network infrastructure, most likely) and you don't really care about validity. In this case, you should set `NODE_TLS_REJ

[2017-02-23 14:53] seonixx commented on #77
@nfantone OK I worked out the issue finally. A bit of background...

Letsencrypt issues a server certificate that you verify against ISRG Root X1 CA which is why generally you need dont need to add any additional CAs as most OS/browsers would have this CA installed and trusted by default.

I did a test on the TLS connection and saw something interesting in regards to the issuer of the certificate

[2017-02-23 14:53] #77 closed

[2017-02-23 15:19] nfantone commented on #77
@seonixx Glad to see that you could resolve the issue in the end. Feel free to open another one if something else comes up.

[2017-03-21 19:33] sberryman opened #83 "Idea: What about adding model:observe similar to mesh?"
I would like to log some searches going on in the system but I don't need to reply back. In seneca-mesh there is the concept of `model:consume` and `model:observe`.

I added `model:observe` to the listen options and then made this minor change to [lib/listener.js](https://github.com/senecajs/seneca-amqp-transport/blob/master/lib/listener.js#L14-L25) handleMessage function.

[code]

Based on your d

[2017-03-21 20:52] nfantone commented on #83
@sberryman I don't dislike the idea. But if you don't handle the client side of things, any client acting on a consumer with `model:observe` will eventually `TIMEOUT` and crash. Or am I missing something?

[2017-03-21 22:05] sberryman commented on #83
Hmmm, `model:observe` should ONLY be set on `seneca.listen()` and not on `seneca.client()`. That is how it works on seneca-mesh as you only define what you are listening for.

The point of this is to peek into messages/acts or have other microservices react based on messages already going through the service bus. I don't like the idea of having a microservice broadcast something that is already hi

[2017-03-21 22:13] sberryman commented on #83
@nfantone this may be a symptom of how I have setup my project. I have all api routes (hapi) running on a single service (load balanced) which has a single `seneca.client({type:amqp, pin: 'role:*,cmd:*'})` defined. Then I have roughly 20 microservices (`seneca.listen()`) handling the business logic.

My other option for `model:observe` is creating a little client which connects to amqp and binds t

[2017-03-22 11:45] nfantone commented on #83
@sberryman I think I understand your scenario. But, as you rightly pointed out, "seneca at the moment, [...] assumes everything is req/res". At least, this plugin does. So when you set up a listener to _not return a value_ any client communicating with it (i.e.: calling an `.act` with a matching pattern) will create a reply queue and wait for a response back. If that response doesn't arrive in und

[2017-03-22 19:14] sberryman commented on #83
I tend to use `seneca.fixedargs.fatal$ = false;` on all the microservices until they figure out a good way of handling errors without changing the node developers are accustomed to errors in callbacks. Having to train everyone to use `{ ok:false, err }` is quite annoying and adds more work.

With that said you don't really need fire-and-forget. I'll keep playing around with this idea.

[2017-03-22 20:52] sberryman opened #84 "Dev branch"
When are you expecting to push the refactor?

[2017-03-23 11:51] nfantone commented on #84
@sberryman You mean publish the next version to npm containing changes in `develop`? I didn't think it was worth it, since it doesn't add any new functionality (yet). So publishing a new artifact would make little sense.

All new features/PR should be made against latest `develop`, though. Why do ask? Is this preventing you from doing something or detrimental in some way?

[2017-03-23 12:20] nfantone commented on #83
Even so, setting `fatal$` to `false` just works around the actual problem. So, in this sense you _do_ need something like `seneca-fire-and-forget`.

The problem here is that [`seneca-transport`](https://github.com/senecajs/seneca-transport#writing-your-own-transport) -what _this_ transport is based on- is pretty restrictive in what it allows you to do in terms of avoiding the RPC pattern. One enha

[2017-03-23 18:22] sberryman commented on #84
I just like the code in the `develop` branch quite a bit more and is easier to work with :) no rush though.

But yes, I did mean publish the `develop` branch to the npm.

[2017-03-23 18:22] #84 closed

[2017-04-13 12:38] oliversturm commented on #27
@nfantone I've been trying to follow your ideas about using the configuration options to set up a fanout exchange, but I'm stumbling over the issue that these options are passed in with the use() statement. The service I'm trying to implement should send certain messages through the fanout exchange, but receive others through the default exchange - so it seems I would need to be able to configure

[2017-04-17 16:57] nfantone commented on #27
@oliversturm You are partially right here.

True. But `.use()` options are deep-merged with local `.client()` or `.listen()` provided options. Global settings take precedence, however. To make things clearer, I've [added a specific function for building the plugin's options](https://github.com/senecajs/seneca-amqp-transport/blob/develop/lib/common/hooker.js#L49). Hope it helps future users as well

[2017-04-18 10:50] oliversturm commented on #27
@nfantone Thank you for your comments. Unfortunately I don't think I can separate the concerns here. The service is expected to receive "commands" through amqp and then raise "events" as a result of processing the commands. Here's the code I'm using:

[code]

I have a client that listens to the events:

[code]

Now when I send `role:test` messages to the service, it raises the event correctly. How

[2017-04-18 22:11] nfantone commented on #27
@oliversturm Try removing the `amqp` property on the `client()` and `listen()` configuration. That's only needed on the `use()` call for namespacing purposes as Seneca merges all options (its own + all declared plugins) in a single object.

[2017-04-19 13:43] oliversturm commented on #27
@nfantone Okay, I got it to work now. Thanks for clarifying the syntax - I had the configuration without the `amqp` part before and it was actually working correctly on the RabbitMQ side, but I didn't realize that because I was seeing confusing behavior in my event-receiving clients. Now I debugged through the source and found that everything was working correctly, but my two client instances were

[2017-04-27 10:31] sh-guti commented on #27
In case someone still looking for solution, I got it to work like this:
I have 1 client publish event to 2 listeners.
Client:
[code]

Listeners:
[code]
[code]

Few issues:
-  The clients still creates a reply queue, for what purpose ?
- What's the 'pin' role in 'fanout' exchange type?
- There is no reason for the listener to respond, generally in events-fashion it's "fire and forget"

In general I

[2017-04-27 12:29] nfantone commented on #27
@sh-guti Many thanks for sharing this. To provide insight into some of the issues you encounter:

There is no _baked-in_ support for what you are trying to achieve, frankly. Client and Listeners are always setup in an RPC fashion. Clients do not discern between "event-driven" and "remote call" communications. They always create a reply queue, even if they don't make much sense in your scenario.

I

[2017-05-02 12:04] puttpotsawee opened #90 "incompatible version of `amqpuri`"
Recently I had an absurd error on `seneca-amqp-transport` on the service that had been run on production for a while, the error says:

[code]

Because I **dockertized** all my services and there're only newly build _containers_ show this error, I assume it must be the incompatible version of dependencies, this is the dependencies on the working container:

[code]

and this is, for the not-working-

[2017-05-02 12:24] nfantone commented on #90
@puttpotsawee Thanks for letting me know of this. `amqpuri` _was_ updated recently, yes. It was meant to be a no-breaking-changes version bump. Clearly, it wasn't.

Could you please share a snippet showing how you are declaring/creating your AMQP connection URI (hide/change any sensible information on it)? Even if it is just a string on `.client` or `.listener`.

[2017-05-02 18:39] puttpotsawee commented on #90
I mostly use `JSON` declarations for all seneca function

I use this configs

[code]

thise configs will be push to `seneca.listen()` and `seneca.client()`

and when in my `act` I use something like this
[code]

notice the **payload** data which is included in a single object _along_ with `role` and `cmd`
and

[code]

though, i have my own wrapper wrap the `seneca.act` and `seneca.add` but that sh

[2017-05-03 22:32] nfantone commented on #90
@puttpotsawee I believe I've found what the issue is here. You are running the plugin on node `5.12.0`. We [dropped support for node older than LTS](https://github.com/senecajs/seneca-amqp-transport#seneca-amqp-transport) a while back. Things _may_ work, but sudden breaking changes may very well occur since we are not testing against those platforms, unfortunately.

Shrinkwrapping (or yarn) might

[2017-05-11 10:49] puttpotsawee commented on #90
@nfantone Thanks for your help! It really works on node `6.3.1`. I hope u add the fact that even version `1.1.1` will not be supported by node version lower than 6

[2017-05-11 11:12] nfantone commented on #90
@puttpotsawee You're welcome. It's on the `package.json` [`"engines"` definition now](https://github.com/senecajs/seneca-amqp-transport/blob/develop/package.json#L13).

[2017-05-11 11:12] #90 closed

[2017-06-09 20:49] bersilius commented on #27
Hi,

I have posted an [answer](https://stackoverflow.com/questions/44359994/senecajs-implementing-fanout-strategy/44465914#44465914) for a related question on StackOverflow. The way I solved to not expect any response like in a publish/subscribe strategy, is that I don't pass a callback for the client when calling act.

But for the listeners the "respond" callback has to be called, even if you don

[2017-06-22 06:48] behrad opened #93 "Support for persistent messages"
Can `persistent` option be added here https://github.com/senecajs/seneca-amqp-transport/blob/develop/lib/client/publisher.js#L31 to support for durable micro-service messaging?

That would be very nice, since I've not seen any other seneca plugin to support that. Does any?

[2017-06-22 23:25] brad-decker commented on #18
Maybe unrelated, maybe not. We are working with docker and because depends_on doesn't wait for the container to be running and available we have to rely on 'sleep' to make microservices wait to start up until rabbitmq is theoretically available. Is there a way to gracefully handle retrying the connection for a period of time before killing the service?

[2017-06-27 23:35] nfantone commented on #93
@behrad Not a bad idea at all. Many thanks for the suggestion.

Will work on it now and keep you posted!

[2017-06-28 00:32] nfantone commented on #93
@behrad Would you like to try the feature out before releasing?

https://github.com/senecajs/seneca-amqp-transport/pull/96

Let me know about your feedback.

[2017-06-28 18:16] behrad commented on #93
Great to hear from you. I'll give it a try 👍

it suddenly came to my mind, for persistent messages to work, queue should not be exclusive if I'm right.
Is queue's exclusive-ness configurable, as documentation states otherwise.

another question, have you got any number performance wise? pub/sec? consume/sec?

[2017-06-28 20:40] nfantone commented on #93
@behrad Thank you very much, indeed.

Queues' declaration parameters are completely configurable. `"exclusive": true` is the default value, but you may change that by supplying a `client.queues.options`or `listener.queues.options` arguments via `.use()` or `.client()`/`.listen()` methods.

[code]

Those _greatly_ depend on your specs and your broker's current load/capacity. They are not hard to co

[2017-07-03 13:14] nfantone commented on #93
@behrad So, did you get a chance to try the PR? Or shall I merge regardless?

[2017-07-06 11:40] rjrodger opened #97 "node 8 fails"
/home/travis/build/senecajs/seneca-core-plugins-next/seneca-amqp-transport/node_modules/require-dir/index.js:93
            if (!require.extensions.hasOwnProperty(ext)) {
                                    ^
TypeError: require.extensions.hasOwnProperty is not a function
    at requireDir (/home/travis/build/senecajs/seneca-core-plugins-next/seneca-amqp-transport/node_modules/require-dir/index.js:

[2017-07-06 11:41] rjrodger commented on #97
The context is I'm trying to integrate into the core plugin validation suite: https://travis-ci.org/senecajs/seneca-core-plugins-next/jobs/250728008

[2017-07-06 12:00] nfantone commented on #97
Hi @rjrodger. Though that _is_ last released version, the code you are running tests against is pretty old. `develop` does not require `gulp` anymore and works fine on latest `node` (Travis runs on 6 and 8). How are you pulling the versions out?

[2017-07-06 12:35] nfantone commented on #97
@rjrodger Not sure if this helps you in any way, but I just published a new `2.2.0` tag to `npm`.

Also, bear in mind that running `npm test` on this repo requires a live RabbitMQ instance due to e2e tests being included. If you want to exclude them, you'll need to use `npm run test:unit`, instead.

[2017-07-06 12:38] nfantone commented on #93
Added in [v2.2.0](https://github.com/senecajs/seneca-amqp-transport/releases/tag/2.2.0).

[2017-07-06 12:38] #93 closed

[2017-07-06 13:23] rjrodger commented on #97
Hi Nicolas - thanks :)
Nearly have it working - adding rabbitmq service to travis.

[2017-07-06 13:29] rjrodger commented on #97
It works! https://travis-ci.org/senecajs/seneca-core-plugins-next

I'm standardising a few things to make plugin validation easier so releases are safer, to avoid:
https://gitter.im/senecajs/seneca?at=595b9e193230e14f3a239f9c

[2017-07-06 14:08] #97 closed

[2017-07-06 14:32] rjrodger opened #98 "msg.meta$ is deprecated"
It can be turned on again with the feature flag legacy.meta = true - which is the "fix" in seneca 3.4.0: https://github.com/senecajs/seneca/commit/61113889df0470d4b684c8701b587b67b2c550b7

The action meta properties are now available as a third argument to the action function: `msg, reply, meta`. See the new transport code for an example:
https://github.com/senecajs/seneca/blob/master/lib/transpor

[2017-07-06 15:14] nfantone commented on #98
@rjrodger Understood. Thanks for letting me know about this.

How should I go about supporting different Seneca versions? Should I use `meta$` if present? What's the general directive here?

[2017-07-07 08:21] behrad commented on #93
so busy these days @nfantone
What about I test the merged release, and let you know if any issues?

[2017-07-07 08:21] behrad commented on #93
👍 thank you man

[2017-07-07 12:17] brad-decker commented on #58
@nfantone the concept of the pins confuses me slightly. In my api network will i need to create a new client instance for every microservice I want to hit that has a pin that matches the pin of the microservice i want it to interact with?

[2017-07-09 19:43] behrad commented on #93
I tested 2.2.0 @nfantone and it looks great, however I've two main concerns:

1. Seneca client'a act is timed out when consumer is not running (the message will persist and be consumed by seneca listener later). In this case, can we increase act timeout to hours? minutes? to have a complete REQ/REP model?
Related to the above, let me ask a general Senecajs question:
Can seneca support a non req/re

[2017-07-15 18:47] nfantone commented on #93
@behrad For point number one, please take a look [at this issue](https://github.com/senecajs/seneca-amqp-transport/issues/27).

Regarding your second point, I'm not familiar with seneca-mesh but, from what I saw, it's using HTTP as its default transport. Running HTTP on local LAN would beat queuing messages in an AMQP broker any day. Plus, persistence messages and queues with confirms are [particu

[2017-07-15 19:00] nfantone commented on #58
@brad-decker Yes and no. _Yes_, you need a client with a pin that matches a certain listener's pin.  _No_, it doesn't need to be a one-to-one match.

Think of pins as the "gateway" or entrance to your listener. They actually become the routing keys in your AMQP topology. Any pattern that matches a certain pin would be consumed by the listener declaring that pin. After they match, the message would

[2017-07-15 19:06] nfantone commented on #58
@brad-decker I'd like to point out that I also think pins are confusing, rather redundant and, ultimately, not _really_ needed. This is the reason why this issue was opened in the first place.

[2017-07-18 15:51] calvinwiebe opened #99 "question: how to handle async processing"
I want my message to be re-queued if my microservice dies while asynchronously processing the message. My consumer service's `add` function of seneca is doing some asynchronous processing. Something like this (typescript):

[code]

The problem is, if somewhere inside `doSomethingAsynchronous` encounters an error and my microservice dies, it seems like the message is still `ack`ed. Therefore on res

[2017-07-18 17:22] nfantone commented on #99
Hi, @calvinwiebe! First of all, +1 for the Calvin avatar. Hat tip.

The problem here is that, actually, you are misusing the Seneca reply callback. It's not terribly clear from the docs, but every error you send through or reply from an action is `fatal$` by default. That means that if you _do not pass`null` as the first argument_ of the the callback, your Seneca application **will terminate**. Th

[2017-07-18 18:42] calvinwiebe commented on #99
Hey, @nfantone. Thanks very much for the quick response. I'm also glad you enjoy the avatar. ;)

So, I get what you are saying about the Seneca callback. If I leave the default `fatal$: true`, and I do `cb(err)`, Seneca is going to kill my process. Conversely, doing `cb(null, someErrorObj)` will not kill my process, but send a not fatal message back over the queue.

However, I think I am mentionin

[2017-07-19 14:26] nfantone commented on #99
@calvinwiebe The thing is, Seneca (and, consequently, this plugin) works in a sync RPC fashion: you send a message through your transport and a reply is expected sometime in the near future. Your scenario, as you pointed out, would be closer to a work queue topology where you delegate the duty of fulfilling some task to another service(s) and you don't really care _when_ it will be completed. It m

[2017-07-19 14:39] calvinwiebe commented on #99
That is a great explanation. The `async$: true` parameter is exactly what I was thinking would be handy. However, I more fully understand the intent of a Seneca application after this discussion, and realize this type of parameter to `act` would slightly contradict Seneca's intent. Thanks again for the quick and helpful responses. 👍

[2017-07-19 14:39] #99 closed, assigned to nfantone

[2017-07-23 12:21] BhaskaranR opened #100 "RabbitMQ: Unknown delivery tag 1"
I get this error
 msg: 'seneca: Action hook:listen,role:transport,type:amqp failed: Channel closed by server: 406 (PRECONDITION-FAILED) with message "PRECONDITION_FAILED - unknown delivery tag 1".',
this is same as  [#50](https://github.com/senecajs/seneca-amqp-transport/issues/50) but I am pretty sure I return only once. Error is thrown when email not confirmed. I am using seneca-amqp-transport v

[2017-07-23 15:18] BhaskaranR commented on #100
sorry my bad. fixed the issue

[2017-07-23 15:18] #100 closed, assigned to nobody

[2017-08-26 13:16] vforv opened #102 "unable to verify the first certificate"
Hello,
I followed this tut: https://www.compose.com/articles/building-secure-distributed-javascript-microservices-with-rabbitmq-and-senecajs/

but get this error:

[code]

Here is my setup:
[code]

What can be a problem?

[2017-08-28 10:45] nfantone commented on #102
Hi @vforv! Thanks for taking the time to write your question.

From what little I can gather, it seems like you are not providing SSL certificates for your AMPS connection. Have you checked out [this example](https://github.com/senecajs/seneca-amqp-transport#socket-options)? Unless the cert is self signed or the CA is a well known authority, you need to provide them manually. See [this discussion]

[2017-09-06 10:30] agarbund opened #103 "Error handling, one more time"
First of all, I'd like to thank everyone who works on this open-source project for their contributions.

I wanted to discuss error handling in amqp transport. I read @nfantone answer in #99 but I'm not sure if I fully agree with it. We are developing app in which we knew from the start that we'll want to base it on microservices at some point, but had different topics to worry about at the beginni

[2017-09-06 17:20] nfantone commented on #102
@vforv Any updates on this? Feel free to close the issue if you have no further questions.

[2017-09-06 17:52] nfantone commented on #103
Hi @agarbund! Thank for your question and sharing your experience.

Regarding your issue, I think it's a valid one. Error handling in Seneca is not first class, TBH. There's a [conversation going on](https://github.com/senecajs/seneca/issues/398) about re-doing the entire logic around them. But it's been sitting there for a while now.

The common approach people seem to be following is to set `sen

[2017-09-06 21:17] agarbund commented on #103
Thanks for quick reply @nfantone

I was aware of ```seneca.fixedargs.fatal$ = false``` thing but couldn't make it work for me. That's why I started to look for other possible issues :)

Maybe you'd have an idea what am I doing wrong? Here is my client's code:
[code]

BTW I think there is an error in ```seneca-amqp-transport``` readme. To make non-durable queue I had to set ```amqp.listener.queues.

[2017-09-07 14:13] vforv commented on #102
@nfantone I didn't, I cnahge to Hemera.js framework, I have problems with seneca mesh when I deploy it to docker swarm, now everything works okay...

[2017-09-07 21:06] agarbund commented on #103
@nfantone I've created simple repo demonstrating my issue with ```seneca.fixedargs.fatal$ = false;``` not working like it should: https://github.com/agarbund/seneca-error-issue. Any idea what am I doing wrong?

[2017-10-30 14:39] oyinloslos opened #106 "How do I specify multiple fanout exchange"
I have a situation where a microservice is to listen to multiple fanout exchanges. In other words, the service is to subscribe to more than one fanout exchange. I tried the code below but it didn't work.  How should i go about this?

`var seneca = require("seneca")();

seneca
.use(require('seneca-amqp-transport'),{
	amqp: {
		exchange: [
			{name: 'users', type: 'fanout'},
                       {

[2017-10-31 18:29] barlock opened #107 "Document how to access dead letter queue"
I'm trying to connect into the dlq in order to log whats in there and build custom logic to retry if applicable. I can't for the life of me figure out how to connect to it.

I'd be happy to make a pr to the readme/examples if I could figure out how it's done.

[2017-11-01 14:23] barlock commented on #107
Having slept on it, I've found this which seems to work, but it feels hacky to me. If you pass the following as opts into the module it will connect and allow you to specify patterns on `add`s that match you're original patterns.

[code]

[2018-02-13 22:13] pregenie opened #113 "Defining an Existing Exchange, a Queue name, and a wild card routing key on the Exchange"
We have an existing fully managed RabbitMQ implementation and would love to use micro services to update postgresql with data from new application exchanges.  What would be great would be to define an existing exchange, a queue name, and a wild card routing key on the exchange.   Something like the following so that the queue name can be specified and unique and the routing key is a wild card:

[c

[2018-02-14 11:23] nfantone commented on #113
@pregenie Hi and thanks for writing that up!

Declaring exchanges and queues in AMQP (or re-declaring, in your case) is an idempotent action; meaning declaration of the same elements multiple times have no side-effects (as long as they define the exact same options). So using your existing topology should be supported.

What's the problem you're having, exactly?

[2018-05-23 12:51] philprime opened #119 "Absent port in URI resolves in invalid port"
## Expected behaviour

The README.ME states in [Transport Options](https://github.com/senecajs/seneca-amqp-transport#transport-options) the following:

where connection URI links to the [RabbitMQ URI Specification](https://www.rabbitmq.com/uri-spec.html).

This specification states the following:

This means, if an example AMQP URI does not contain a port number, it should use `5672`, e.g. `amqp:/

[2018-05-31 23:41] philippem opened #120 "queue bindings not removed when using .listen({ name: <queue-name> })"
We would like to assign names to the `listen` queues in Rabbit, rather than use the auto-generated names. This helps us debug and manage our infrastructure.

However, we found that when the service is restarted after pins are removed from `listen`, the corresponding bindings are not removed from the Rabbit queue. This can result in queues receiving messages they are no longer interested in.  Addin

[2018-06-12 12:11] nfantone commented on #119
@techprimate-phil Hi and thanks for taking the time to open an issue!

This looks like a bug, indeed. However, I don't think the port should be enforced by the plugin, but rather be left blank so your AMQP broker resolves the connection according to the spec you cited.

Sorry that it took me so long to come back to you.

[2018-06-12 12:28] nfantone commented on #119
@techprimate-phil I was not able to replicate this on the most basic of tests.

Try this on your `node` REPL:

[code]

The `url` appears ok for me. I'm guessing your options are different? Could you please elaborate a bit more on what your setup is? Also, which version of the plugin are you on?

[2018-06-12 12:39] nfantone commented on #120
@philippem Hi and many thanks for reaching out.

While I can see how this can be a problem down the line, specially with management of growing topologies, I feel reluctant to make this the responsibility of `seneca-amqp-transport` plugin. The behavior of `pin` is well documented and the naming and declaration is on you: if you change pins, the plugin needs to bind the new pattern from the exchange

[2018-06-12 15:43] philprime commented on #119
Example to reproduce:

**package.json**
[code]

**index.js**
[code]

**Command**
Just run it using `node index.js`

This is very basic code but still it should connect to RabbitMQ, instead it throws this error:
[code]

and you can see here it uses `10101` as the default port if none is given, which is not correct!

If I use `amqp://guest:guest@localhost:5672` as the URL it still fails because the

[2018-06-12 16:54] nfantone commented on #119
@techprimate-phil Ok, found the culprit. For reasons unknown to me there's a [default `port` property in global Seneca options](https://github.com/senecajs/seneca/blob/master/seneca.js#L176) with the value `10101`. And since the plugin merges Seneca options into its own, it gets picked if one is not provided.

In light of this, I think we could:

1) Follow this issue upstream and open a new one at

[2018-07-12 09:56] philprime commented on #119
Solution 1 would give us more insight into why they set this arbitrary number, but might not resolve the issue.
Solution 2 would keep the port number to the default RabbitMQ port as desired by this transport - seems like this is a more applicable as you can keep the URI handling inside this project.

In my opinion solution 2 sounds better, even though it could be considered as a workaround.

[2018-08-29 04:07] tswaters commented on #120
@philippem  would it make sense to declare the queues/exchanges with `autoDelete: true`?  If the listener goes away by way of changing the pins, its consumers should also go away - and it should clean itself up.

One of the problems I find with using amqp transport is -- if there is no server listening for the messages, you'll hit a timeout instead of knowing if things aren't quite ready or are ot

[2018-09-19 16:46] greenkeeper[bot] opened #126 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/senecajs/seneca-amqp-transport/compare/develop...senecajs:greenkeeper%2Fprettier-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of th

[2018-10-17 17:05] Glathrop opened #128 "Question: Background Workers / Long Running Processes"
Relative noob here with a definite noob problem...

**SETUP**
Running Seneca & seneca-amqp with RabbitMQ & Node.

**PROBLEM**
Cannot figure out how to get a message into a rabbitmq queue that exists & processes independently of the Seneca timeout. The "job" is to update a document. Updating the document uses a seneca action and therefore is subjected to timeout. It seems to be a catch 22.

**SPECI

[2018-10-24 14:49] mickeyjohn commented on #100
What was the issue? Thanks.

[2018-10-29 20:20] Glathrop commented on #63
@ppinel I know this was a while ago... but where? In seneca-amqp options or hardcoded in amqplib like you referenced earlier?

[2018-11-05 19:25] me23 commented on #128
Why do you not response early to the seneca command and then process the long running task? Then the caller have not to wait for finishing the task. If you need to be informed as soon as the long running task is finish, send a "command finish" message which the caller is listening on

[2018-11-05 19:58] Glathrop commented on #128
@me23 Thanks for the reply.  This ended up being a combination of things.

One issue, [referenced here ](https://github.com/senecajs/seneca-amqp-transport/issues/63), is that Seneca AMQP apparently defaults to 25 msgs per second unless you specify the AMQP noDelay option to true. Once we changed that we saw a bump from 25 messages per second to 1k+ per second.

In the end, the issue was not really

[2018-11-05 19:58] #128 closed, assigned to nobody

[2019-01-13 01:12] greenkeeper[bot] opened #129 "An in-range update of seneca is breaking the build 🚨"
## The devDependency [seneca](https://github.com/senecajs/seneca) was updated from `3.7.0` to `3.8.0`.

🚨 [View failing branch](https://github.com/senecajs/seneca-amqp-transport/compare/develop...senecajs:greenkeeper%2Fseneca-3.8.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

seneca is a devDependency of this project.

[2019-02-06 22:24] jbtaylor opened #133 "Plugin Tag Causes Fatal Error"
Running the sample code in the README, I get the following error. It appears that package.json version is used for the plugin tag. This value is 2.2.0 which is not allowed when the tag is loaded. Changing the version to 220 in the package.json resolves this issue.

node v11.8.0
seneca 3.8.0

seneca: The plugin tag string, if defined, must be alphanumeric (matching /^[a-zA-Z0-9_]+$/), and cannot be

[2019-02-12 22:32] me23 opened #135 "Is there a way to handle channel close as fatal?"
Hi,

we haven a microservice running in docker. if rabbitmq dies (or if i kill it with docker kill)
Seneca exit with StatusCode 1. Which then stops the docker container. We run it with restart=always
so that the docker tries to restart the microservice. After rabbitmq comes back the service registered it self on rabbitmq like expected.

If i use docker stop or restart instead of kill. Then seneca

[2019-02-24 07:41] UDB commented on #133
Here is the pull request for the same issue
https://github.com/senecajs/seneca-amqp-transport/pull/130

As suggested, for now you can modify index.js file and use it

[2019-07-29 19:11] greenkeeper[bot] opened #141 "An in-range update of amqplib is breaking the build 🚨"
## The dependency [amqplib](https://github.com/squaremo/amqp.node) was updated from `0.5.3` to `0.5.4`.

🚨 [View failing branch](https://github.com/senecajs/seneca-amqp-transport/compare/develop...senecajs:greenkeeper%2Famqplib-0.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

amqplib is a direct dependency of this p

[2019-08-27 10:22] edizonbasseto opened #142 "Message acknowledgment"
Hi!

First of all, thanks for this plugin. Now I have a question.

Why do you acknowledge the message from the queue before the callback is concluded? By doing this way, the Round-Robin from Rabbit is always thinking a worker is free even it's not.

For my scenario, I have 3 or 4 processors (my name for a worker) and I can see that 1 or 2 are always more idle than others. I've tried to fine tune t

[2019-11-04 20:12] elnewfie opened #143 "TypeError: Cannot read property 'pattern' of undefined"
It looks like there was a breaking change in Seneca 3.14.0 that breaks the AMQP transport with the titular error.  Using the following example with `seneca-amqp-transport:2.2.0` and `seneca:3.14.0` (or above):

[code]

I will get the error: `TypeError: Cannot read property 'pattern' of undefined` in `lib/client/client-util.js:44`.

If I run with a version of SenecaJS below this (for example `3.13.

[2020-01-03 16:22] elixiao commented on #143
+1, any update on this?

[code]

[2020-01-28 00:10] rjrodger commented on #143
Using `Seneca({legacy:{meta:true}})` may be a workaround.

[2020-11-17 09:37] rajatprogrammer commented on #119
I am facing the same issue I integrate Seneca with rabbimq cloud service which doesn't have a port provided to me. First  the service is able to connect but after some time its disconnect again and giving a timeout error